# Part 3 - Text analysis and ethics

# 3.a Computing PMI

In this assessment you are tasked to discover strong associations between concepts in Airbnb reviews. The starter code we provide in this notebook is for orientation only. The below imports are enough to implement a valid answer.

### Imports, data loading and helper functions

We first connect our google drive, import pandas, numpy and some useful nltk and collections modules, then load the dataframe and define a function for printing the current time, useful to log our progress in some of the tasks.

In [128]:
import pandas as pd
from nltk.tag import pos_tag
import re
from collections import defaultdict,Counter
from nltk.stem import WordNetLemmatizer
from datetime import datetime
from tqdm import tqdm
import numpy as np
import os
tqdm.pandas()

In [129]:
# nltk imports, note that these outputs may be different if you are using colab or local jupyter notebooks
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Andreas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Andreas\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Andreas\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [130]:
# load stopwords
sw = set(stopwords.words('english'))

In [131]:
basedir = os.getcwd()
df = pd.read_csv(os.path.join(basedir,'reviews.csv'))
# deal with empty reviews
df.comments = df.comments.fillna('')

In [132]:
df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [133]:
df.shape

(452143, 6)

### 3.a1 - Process reviews

What to implement: A `function process_reviews(df)` that will take as input the original dataframe and will return it with three additional columns: `tokenized`, `tagged` and `lower_tagged`.

In [134]:
def process_reviews(df):
  tokenized = []
  tagged = []
  lower_tagged = []

  mylen = len(df)
  count = 0
  for index, row in df.iterrows():
    token = word_tokenize(row.comments)
    tokenized.append(token)
    tagged.append(pos_tag(token))
    lower_tagged.append(list(set(pos_tag([item.lower() for item in token]))))
    count += 1
    print(f'{count} out of {mylen}')
    if count % 20000 == 0:      
      break

  df['tokenized'] = tokenized
  df['tagged'] = tagged
  df['lower_tagged'] = lower_tagged


  # df['tokenized'] = [ word_tokenize(row.comments) for index, row in df.iterrows()]
  # print('Tokenizing done!\n')
  # df['tagged'] = [pos_tag(row.tokenized) for index, row in df.iterrows()]
  # print('Tagging done!\n')
  # df['lower_tagged'] = list(set([pos_tag([item.lower() for item in row.tokenized]) for index, row in df.iterrows()]))
  # print('Lower tagging done!\n')
  return df

In [135]:
df = process_reviews(df[:20000])

t of 20000
19005 out of 20000
19006 out of 20000
19007 out of 20000
19008 out of 20000
19009 out of 20000
19010 out of 20000
19011 out of 20000
19012 out of 20000
19013 out of 20000
19014 out of 20000
19015 out of 20000
19016 out of 20000
19017 out of 20000
19018 out of 20000
19019 out of 20000
19020 out of 20000
19021 out of 20000
19022 out of 20000
19023 out of 20000
19024 out of 20000
19025 out of 20000
19026 out of 20000
19027 out of 20000
19028 out of 20000
19029 out of 20000
19030 out of 20000
19031 out of 20000
19032 out of 20000
19033 out of 20000
19034 out of 20000
19035 out of 20000
19036 out of 20000
19037 out of 20000
19038 out of 20000
19039 out of 20000
19040 out of 20000
19041 out of 20000
19042 out of 20000
19043 out of 20000
19044 out of 20000
19045 out of 20000
19046 out of 20000
19047 out of 20000
19048 out of 20000
19049 out of 20000
19050 out of 20000
19051 out of 20000
19052 out of 20000
19053 out of 20000
19054 out of 20000
19055 out of 20000
19056 out of 20000
19057 out of 20000
19058 out of 20000
19059 out of 20000
19060 out of 20000
19061 out of 20000
19062 out of 20000
19063 out of 20000
19064 out of 20000
19065 out of 20000
19066 out of 20000
19067 out of 20000
19068 out of 20000
19069 out of 20000
19070 out of 20000
19071 out of 20000
19072 out of 20000
19073 out of 20000
19074 out of 20000
19075 out of 20000
19076 out of 20000
19077 out of 20000
19078 out of 20000
19079 out of 20000
19080 out of 20000
19081 out of 20000
19082 out of 20000
19083 out of 20000
19084 out of 20000
19085 out of 20000
19086 out of 20000
19087 out of 20000
19088 out of 20000
19089 out of 20000
19090 out of 20000
19091 out of 20000
19092 out of 20000
19093 out of 20000
19094 out of 20000
19095 out of 20000
19096 out of 20000
19097 out of 20000
19098 out of 20000
19099 out of 20000
19100 out of 20000
19101 out of 20000
19102 out of 20000
19103 out of 20000
19104 out of 20000
19105 out of 20000
19106 out of 20000
19107 out of 20000
19108 out of 20000
19109 out of 20000
19110 out of 20000
19111 out of 20000
19112 out of 20000
19113 out of 20000
19114 out of 20000
19115 out of 20000
19116 out of 20000
19117 out of 20000
19118 out of 20000
19119 out of 20000
19120 out of 20000
19121 out of 20000
19122 out of 20000
19123 out of 20000
19124 out of 20000
19125 out of 20000
19126 out of 20000
19127 out of 20000
19128 out of 20000
19129 out of 20000
19130 out of 20000
19131 out of 20000
19132 out of 20000
19133 out of 20000
19134 out of 20000
19135 out of 20000
19136 out of 20000
19137 out of 20000
19138 out of 20000
19139 out of 20000
19140 out of 20000
19141 out of 20000
19142 out of 20000
19143 out of 20000
19144 out of 20000
19145 out of 20000
19146 out of 20000
19147 out of 20000
19148 out of 20000
19149 out of 20000
19150 out of 20000
19151 out of 20000
19152 out of 20000
19153 out of 20000
19154 out of 20000
19155 out of 20000
19156 out of 20000
19157 out of 20000
19158 out of 20000
19159 out of 20000
19160 out of 20000
19161 out of 20000
19162 out of 20000
19163 out of 20000
19164 out of 20000
19165 out of 20000
19166 out of 20000
19167 out of 20000
19168 out of 20000
19169 out of 20000
19170 out of 20000
19171 out of 20000
19172 out of 20000
19173 out of 20000
19174 out of 20000
19175 out of 20000
19176 out of 20000
19177 out of 20000
19178 out of 20000
19179 out of 20000
19180 out of 20000
19181 out of 20000
19182 out of 20000
19183 out of 20000
19184 out of 20000
19185 out of 20000
19186 out of 20000
19187 out of 20000
19188 out of 20000
19189 out of 20000
19190 out of 20000
19191 out of 20000
19192 out of 20000
19193 out of 20000
19194 out of 20000
19195 out of 20000
19196 out of 20000
19197 out of 20000
19198 out of 20000
19199 out of 20000
19200 out of 20000
19201 out of 20000
19202 out of 20000
19203 out of 20000
19204 out of 20000
19205 out of 20000
19206 out of 20000
19207 out of 20000
19208 out of 20000
19209 out of 20000
19210 out of 20000
19211 out of 20000
19212 out of 20000
19213 out of 20000
19214 out of 20000
19215 out of 20000
19216 out of 20000
19217 out of 20000
19218 out of 20000
19219 out of 20000
19220 out of 20000
19221 out of 20000
19222 out of 20000
19223 out of 20000
19224 out of 20000
19225 out of 20000
19226 out of 20000
19227 out of 20000
19228 out of 20000
19229 out of 20000
19230 out of 20000
19231 out of 20000
19232 out of 20000
19233 out of 20000
19234 out of 20000
19235 out of 20000
19236 out of 20000
19237 out of 20000
19238 out of 20000
19239 out of 20000
19240 out of 20000
19241 out of 20000
19242 out of 20000
19243 out of 20000
19244 out of 20000
19245 out of 20000
19246 out of 20000
19247 out of 20000
19248 out of 20000
19249 out of 20000
19250 out of 20000
19251 out of 20000
19252 out of 20000
19253 out of 20000
19254 out of 20000
19255 out of 20000
19256 out of 20000
19257 out of 20000
19258 out of 20000
19259 out of 20000
19260 out of 20000
19261 out of 20000
19262 out of 20000
19263 out of 20000
19264 out of 20000
19265 out of 20000
19266 out of 20000
19267 out of 20000
19268 out of 20000
19269 out of 20000
19270 out of 20000
19271 out of 20000
19272 out of 20000
19273 out of 20000
19274 out of 20000
19275 out of 20000
19276 out of 20000
19277 out of 20000
19278 out of 20000
19279 out of 20000
19280 out of 20000
19281 out of 20000
19282 out of 20000
19283 out of 20000
19284 out of 20000
19285 out of 20000
19286 out of 20000
19287 out of 20000
19288 out of 20000
19289 out of 20000
19290 out of 20000
19291 out of 20000
19292 out of 20000
19293 out of 20000
19294 out of 20000
19295 out of 20000
19296 out of 20000
19297 out of 20000
19298 out of 20000
19299 out of 20000
19300 out of 20000
19301 out of 20000
19302 out of 20000
19303 out of 20000
19304 out of 20000
19305 out of 20000
19306 out of 20000
19307 out of 20000
19308 out of 20000
19309 out of 20000
19310 out of 20000
19311 out of 20000
19312 out of 20000
19313 out of 20000
19314 out of 20000
19315 out of 20000
19316 out of 20000
19317 out of 20000
19318 out of 20000
19319 out of 20000
19320 out of 20000
19321 out of 20000
19322 out of 20000
19323 out of 20000
19324 out of 20000
19325 out of 20000
19326 out of 20000
19327 out of 20000
19328 out of 20000
19329 out of 20000
19330 out of 20000
19331 out of 20000
19332 out of 20000
19333 out of 20000
19334 out of 20000
19335 out of 20000
19336 out of 20000
19337 out of 20000
19338 out of 20000
19339 out of 20000
19340 out of 20000
19341 out of 20000
19342 out of 20000
19343 out of 20000
19344 out of 20000
19345 out of 20000
19346 out of 20000
19347 out of 20000
19348 out of 20000
19349 out of 20000
19350 out of 20000
19351 out of 20000
19352 out of 20000
19353 out of 20000
19354 out of 20000
19355 out of 20000
19356 out of 20000
19357 out of 20000
19358 out of 20000
19359 out of 20000
19360 out of 20000
19361 out of 20000
19362 out of 20000
19363 out of 20000
19364 out of 20000
19365 out of 20000
19366 out of 20000
19367 out of 20000
19368 out of 20000
19369 out of 20000
19370 out of 20000
19371 out of 20000
19372 out of 20000
19373 out of 20000
19374 out of 20000
19375 out of 20000
19376 out of 20000
19377 out of 20000
19378 out of 20000
19379 out of 20000
19380 out of 20000
19381 out of 20000
19382 out of 20000
19383 out of 20000
19384 out of 20000
19385 out of 20000
19386 out of 20000
19387 out of 20000
19388 out of 20000
19389 out of 20000
19390 out of 20000
19391 out of 20000
19392 out of 20000
19393 out of 20000
19394 out of 20000
19395 out of 20000
19396 out of 20000
19397 out of 20000
19398 out of 20000
19399 out of 20000
19400 out of 20000
19401 out of 20000
19402 out of 20000
19403 out of 20000
19404 out of 20000
19405 out of 20000
19406 out of 20000
19407 out of 20000
19408 out of 20000
19409 out of 20000
19410 out of 20000
19411 out of 20000
19412 out of 20000
19413 out of 20000
19414 out of 20000
19415 out of 20000
19416 out of 20000
19417 out of 20000
19418 out of 20000
19419 out of 20000
19420 out of 20000
19421 out of 20000
19422 out of 20000
19423 out of 20000
19424 out of 20000
19425 out of 20000
19426 out of 20000
19427 out of 20000
19428 out of 20000
19429 out of 20000
19430 out of 20000
19431 out of 20000
19432 out of 20000
19433 out of 20000
19434 out of 20000
19435 out of 20000
19436 out of 20000
19437 out of 20000
19438 out of 20000
19439 out of 20000
19440 out of 20000
19441 out of 20000
19442 out of 20000
19443 out of 20000
19444 out of 20000
19445 out of 20000
19446 out of 20000
19447 out of 20000
19448 out of 20000
19449 out of 20000
19450 out of 20000
19451 out of 20000
19452 out of 20000
19453 out of 20000
19454 out of 20000
19455 out of 20000
19456 out of 20000
19457 out of 20000
19458 out of 20000
19459 out of 20000
19460 out of 20000
19461 out of 20000
19462 out of 20000
19463 out of 20000
19464 out of 20000
19465 out of 20000
19466 out of 20000
19467 out of 20000
19468 out of 20000
19469 out of 20000
19470 out of 20000
19471 out of 20000
19472 out of 20000
19473 out of 20000
19474 out of 20000
19475 out of 20000
19476 out of 20000
19477 out of 20000
19478 out of 20000
19479 out of 20000
19480 out of 20000
19481 out of 20000
19482 out of 20000
19483 out of 20000
19484 out of 20000
19485 out of 20000
19486 out of 20000
19487 out of 20000
19488 out of 20000
19489 out of 20000
19490 out of 20000
19491 out of 20000
19492 out of 20000
19493 out of 20000
19494 out of 20000
19495 out of 20000
19496 out of 20000
19497 out of 20000
19498 out of 20000
19499 out of 20000
19500 out of 20000
19501 out of 20000
19502 out of 20000
19503 out of 20000
19504 out of 20000
19505 out of 20000
19506 out of 20000
19507 out of 20000
19508 out of 20000
19509 out of 20000
19510 out of 20000
19511 out of 20000
19512 out of 20000
19513 out of 20000
19514 out of 20000
19515 out of 20000
19516 out of 20000
19517 out of 20000
19518 out of 20000
19519 out of 20000
19520 out of 20000
19521 out of 20000
19522 out of 20000
19523 out of 20000
19524 out of 20000
19525 out of 20000
19526 out of 20000
19527 out of 20000
19528 out of 20000
19529 out of 20000
19530 out of 20000
19531 out of 20000
19532 out of 20000
19533 out of 20000
19534 out of 20000
19535 out of 20000
19536 out of 20000
19537 out of 20000
19538 out of 20000
19539 out of 20000
19540 out of 20000
19541 out of 20000
19542 out of 20000
19543 out of 20000
19544 out of 20000
19545 out of 20000
19546 out of 20000
19547 out of 20000
19548 out of 20000
19549 out of 20000
19550 out of 20000
19551 out of 20000
19552 out of 20000
19553 out of 20000
19554 out of 20000
19555 out of 20000
19556 out of 20000
19557 out of 20000
19558 out of 20000
19559 out of 20000
19560 out of 20000
19561 out of 20000
19562 out of 20000
19563 out of 20000
19564 out of 20000
19565 out of 20000
19566 out of 20000
19567 out of 20000
19568 out of 20000
19569 out of 20000
19570 out of 20000
19571 out of 20000
19572 out of 20000
19573 out of 20000
19574 out of 20000
19575 out of 20000
19576 out of 20000
19577 out of 20000
19578 out of 20000
19579 out of 20000
19580 out of 20000
19581 out of 20000
19582 out of 20000
19583 out of 20000
19584 out of 20000
19585 out of 20000
19586 out of 20000
19587 out of 20000
19588 out of 20000
19589 out of 20000
19590 out of 20000
19591 out of 20000
19592 out of 20000
19593 out of 20000
19594 out of 20000
19595 out of 20000
19596 out of 20000
19597 out of 20000
19598 out of 20000
19599 out of 20000
19600 out of 20000
19601 out of 20000
19602 out of 20000
19603 out of 20000
19604 out of 20000
19605 out of 20000
19606 out of 20000
19607 out of 20000
19608 out of 20000
19609 out of 20000
19610 out of 20000
19611 out of 20000
19612 out of 20000
19613 out of 20000
19614 out of 20000
19615 out of 20000
19616 out of 20000
19617 out of 20000
19618 out of 20000
19619 out of 20000
19620 out of 20000
19621 out of 20000
19622 out of 20000
19623 out of 20000
19624 out of 20000
19625 out of 20000
19626 out of 20000
19627 out of 20000
19628 out of 20000
19629 out of 20000
19630 out of 20000
19631 out of 20000
19632 out of 20000
19633 out of 20000
19634 out of 20000
19635 out of 20000
19636 out of 20000
19637 out of 20000
19638 out of 20000
19639 out of 20000
19640 out of 20000
19641 out of 20000
19642 out of 20000
19643 out of 20000
19644 out of 20000
19645 out of 20000
19646 out of 20000
19647 out of 20000
19648 out of 20000
19649 out of 20000
19650 out of 20000
19651 out of 20000
19652 out of 20000
19653 out of 20000
19654 out of 20000
19655 out of 20000
19656 out of 20000
19657 out of 20000
19658 out of 20000
19659 out of 20000
19660 out of 20000
19661 out of 20000
19662 out of 20000
19663 out of 20000
19664 out of 20000
19665 out of 20000
19666 out of 20000
19667 out of 20000
19668 out of 20000
19669 out of 20000
19670 out of 20000
19671 out of 20000
19672 out of 20000
19673 out of 20000
19674 out of 20000
19675 out of 20000
19676 out of 20000
19677 out of 20000
19678 out of 20000
19679 out of 20000
19680 out of 20000
19681 out of 20000
19682 out of 20000
19683 out of 20000
19684 out of 20000
19685 out of 20000
19686 out of 20000
19687 out of 20000
19688 out of 20000
19689 out of 20000
19690 out of 20000
19691 out of 20000
19692 out of 20000
19693 out of 20000
19694 out of 20000
19695 out of 20000
19696 out of 20000
19697 out of 20000
19698 out of 20000
19699 out of 20000
19700 out of 20000
19701 out of 20000
19702 out of 20000
19703 out of 20000
19704 out of 20000
19705 out of 20000
19706 out of 20000
19707 out of 20000
19708 out of 20000
19709 out of 20000
19710 out of 20000
19711 out of 20000
19712 out of 20000
19713 out of 20000
19714 out of 20000
19715 out of 20000
19716 out of 20000
19717 out of 20000
19718 out of 20000
19719 out of 20000
19720 out of 20000
19721 out of 20000
19722 out of 20000
19723 out of 20000
19724 out of 20000
19725 out of 20000
19726 out of 20000
19727 out of 20000
19728 out of 20000
19729 out of 20000
19730 out of 20000
19731 out of 20000
19732 out of 20000
19733 out of 20000
19734 out of 20000
19735 out of 20000
19736 out of 20000
19737 out of 20000
19738 out of 20000
19739 out of 20000
19740 out of 20000
19741 out of 20000
19742 out of 20000
19743 out of 20000
19744 out of 20000
19745 out of 20000
19746 out of 20000
19747 out of 20000
19748 out of 20000
19749 out of 20000
19750 out of 20000
19751 out of 20000
19752 out of 20000
19753 out of 20000
19754 out of 20000
19755 out of 20000
19756 out of 20000
19757 out of 20000
19758 out of 20000
19759 out of 20000
19760 out of 20000
19761 out of 20000
19762 out of 20000
19763 out of 20000
19764 out of 20000
19765 out of 20000
19766 out of 20000
19767 out of 20000
19768 out of 20000
19769 out of 20000
19770 out of 20000
19771 out of 20000
19772 out of 20000
19773 out of 20000
19774 out of 20000
19775 out of 20000
19776 out of 20000
19777 out of 20000
19778 out of 20000
19779 out of 20000
19780 out of 20000
19781 out of 20000
19782 out of 20000
19783 out of 20000
19784 out of 20000
19785 out of 20000
19786 out of 20000
19787 out of 20000
19788 out of 20000
19789 out of 20000
19790 out of 20000
19791 out of 20000
19792 out of 20000
19793 out of 20000
19794 out of 20000
19795 out of 20000
19796 out of 20000
19797 out of 20000
19798 out of 20000
19799 out of 20000
19800 out of 20000
19801 out of 20000
19802 out of 20000
19803 out of 20000
19804 out of 20000
19805 out of 20000
19806 out of 20000
19807 out of 20000
19808 out of 20000
19809 out of 20000
19810 out of 20000
19811 out of 20000
19812 out of 20000
19813 out of 20000
19814 out of 20000
19815 out of 20000
19816 out of 20000
19817 out of 20000
19818 out of 20000
19819 out of 20000
19820 out of 20000
19821 out of 20000
19822 out of 20000
19823 out of 20000
19824 out of 20000
19825 out of 20000
19826 out of 20000
19827 out of 20000
19828 out of 20000
19829 out of 20000
19830 out of 20000
19831 out of 20000
19832 out of 20000
19833 out of 20000
19834 out of 20000
19835 out of 20000
19836 out of 20000
19837 out of 20000
19838 out of 20000
19839 out of 20000
19840 out of 20000
19841 out of 20000
19842 out of 20000
19843 out of 20000
19844 out of 20000
19845 out of 20000
19846 out of 20000
19847 out of 20000
19848 out of 20000
19849 out of 20000
19850 out of 20000
19851 out of 20000
19852 out of 20000
19853 out of 20000
19854 out of 20000
19855 out of 20000
19856 out of 20000
19857 out of 20000
19858 out of 20000
19859 out of 20000
19860 out of 20000
19861 out of 20000
19862 out of 20000
19863 out of 20000
19864 out of 20000
19865 out of 20000
19866 out of 20000
19867 out of 20000
19868 out of 20000
19869 out of 20000
19870 out of 20000
19871 out of 20000
19872 out of 20000
19873 out of 20000
19874 out of 20000
19875 out of 20000
19876 out of 20000
19877 out of 20000
19878 out of 20000
19879 out of 20000
19880 out of 20000
19881 out of 20000
19882 out of 20000
19883 out of 20000
19884 out of 20000
19885 out of 20000
19886 out of 20000
19887 out of 20000
19888 out of 20000
19889 out of 20000
19890 out of 20000
19891 out of 20000
19892 out of 20000
19893 out of 20000
19894 out of 20000
19895 out of 20000
19896 out of 20000
19897 out of 20000
19898 out of 20000
19899 out of 20000
19900 out of 20000
19901 out of 20000
19902 out of 20000
19903 out of 20000
19904 out of 20000
19905 out of 20000
19906 out of 20000
19907 out of 20000
19908 out of 20000
19909 out of 20000
19910 out of 20000
19911 out of 20000
19912 out of 20000
19913 out of 20000
19914 out of 20000
19915 out of 20000
19916 out of 20000
19917 out of 20000
19918 out of 20000
19919 out of 20000
19920 out of 20000
19921 out of 20000
19922 out of 20000
19923 out of 20000
19924 out of 20000
19925 out of 20000
19926 out of 20000
19927 out of 20000
19928 out of 20000
19929 out of 20000
19930 out of 20000
19931 out of 20000
19932 out of 20000
19933 out of 20000
19934 out of 20000
19935 out of 20000
19936 out of 20000
19937 out of 20000
19938 out of 20000
19939 out of 20000
19940 out of 20000
19941 out of 20000
19942 out of 20000
19943 out of 20000
19944 out of 20000
19945 out of 20000
19946 out of 20000
19947 out of 20000
19948 out of 20000
19949 out of 20000
19950 out of 20000
19951 out of 20000
19952 out of 20000
19953 out of 20000
19954 out of 20000
19955 out of 20000
19956 out of 20000
19957 out of 20000
19958 out of 20000
19959 out of 20000
19960 out of 20000
19961 out of 20000
19962 out of 20000
19963 out of 20000
19964 out of 20000
19965 out of 20000
19966 out of 20000
19967 out of 20000
19968 out of 20000
19969 out of 20000
19970 out of 20000
19971 out of 20000
19972 out of 20000
19973 out of 20000
19974 out of 20000
19975 out of 20000
19976 out of 20000
19977 out of 20000
19978 out of 20000
19979 out of 20000
19980 out of 20000
19981 out of 20000
19982 out of 20000
19983 out of 20000
19984 out of 20000
19985 out of 20000
19986 out of 20000
19987 out of 20000
19988 out of 20000
19989 out of 20000
19990 out of 20000
19991 out of 20000
19992 out of 20000
19993 out of 20000
19994 out of 20000
19995 out of 20000
19996 out of 20000
19997 out of 20000
19998 out of 20000
19999 out of 20000
20000 out of 20000
<ipython-input-134-c70933886d0c>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tokenized'] = tokenized
<ipython-input-134-c70933886d0c>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tagged'] = tagged
<ipython-input-134-c70933886d0c>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lower_tagged'] = lower_tagged

In [136]:
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,tokenized,tagged,lower_tagged
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...,"[Daniel, is, really, cool, ., The, place, was,...","[(Daniel, NNP), (is, VBZ), (really, RB), (cool...","[(in, IN), (didnt, VBP), (any, DT), (clean, JJ..."
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...,"[Daniel, is, the, most, amazing, host, !, His,...","[(Daniel, NNP), (is, VBZ), (the, DT), (most, R...","[(please, VBP), (way, NN), (bed, NN), (if, IN)..."
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...,"[We, had, such, a, great, time, in, Amsterdam,...","[(We, PRP), (had, VBD), (such, JJ), (a, DT), (...","[(bathroom, NN), (10-15, JJ), (in, IN), (we, P..."
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...,"[Very, professional, operation, ., Room, is, v...","[(Very, RB), (professional, JJ), (operation, N...","[(which, WDT), (clean, JJ), (comfortable, JJ),..."
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...,"[Daniel, is, highly, recommended, ., He, provi...","[(Daniel, NNP), (is, VBZ), (highly, RB), (reco...","[(way, NN), (in, IN), (which, WDT), (recommend..."
...,...,...,...,...,...,...,...,...,...
19995,481664,51662420,2015-10-22,46551788,Martin,I had an amazing stay on Eltjo and Liselores b...,"[I, had, an, amazing, stay, on, Eltjo, and, Li...","[(I, PRP), (had, VBD), (an, DT), (amazing, JJ)...","[(eltjo, NN), ('re, VBP), (if, IN), (exactly, ..."
19996,481664,51885927,2015-10-25,37047887,Susi,Thank you so much for that wonderful stay. The...,"[Thank, you, so, much, for, that, wonderful, s...","[(Thank, NNP), (you, PRP), (so, RB), (much, JJ...","[(thank, NN), (in, IN), (wonderful, JJ), (cosy..."
19997,481664,52491199,2015-10-30,8500879,Kristine,Eltjo and Liselore were very nice people and t...,"[Eltjo, and, Liselore, were, very, nice, peopl...","[(Eltjo, NNP), (and, CC), (Liselore, NNP), (we...","[(with, IN), (eltjo, NN), (water, NN), (thank,..."
19998,481664,53267155,2015-11-07,46466936,Alexander,The hosts are friendly) all as on foto) далее ...,"[The, hosts, are, friendly, ), all, as, on, fo...","[(The, DT), (hosts, NNS), (are, VBP), (friendl...","[(и, JJ), (бы, NNP), (людишек, NNP), (переехал..."
19999,481664,55206755,2015-11-29,45639757,Vidya,Amazing experience! Eltjo and liselore were aw...,"[Amazing, experience, !, Eltjo, and, liselore,...","[(Amazing, JJ), (experience, NN), (!, .), (Elt...","[(with, IN), (eltjo, NN), (liselore, NN), (sta..."

In [137]:
# num = 0
# print(len(df.tagged[num]), len(set(df.lower_tagged[num])))
# list(set(df.lower_tagged[num]))

In [138]:
df.lower_tagged[0][1][1][0]

'V'

### 3.a2 - Create a vocabulary

What to implement: A function `get_vocab(df)` which takes as input the DataFrame generated in step 1.c, and returns two lists, one for the 1,000 most frequent center words (nouns) and one for the 1,000 most frequent context words (either verbs or adjectives).

In [139]:
def get_vocab(df):
  cent_list, cont_list = [], []

  for review in df.lower_tagged:
    cent_list.extend([word for word in [list_of_words[0] for list_of_words in review if list_of_words[1][0] == 'N']])
    cont_list.extend([word for word in [list_of_words[0] for list_of_words in review if (list_of_words[1][0] == 'J') or (list_of_words[1][0] == 'V')]])
    
  cent_dict = Counter(cent_list)
  cont_dict = Counter(cont_list)

  cent_vocab = [key for key, value in sorted(cent_dict.items(), key=lambda item: item[1])][:1000]
  cont_vocab = [key for key, value in sorted(cont_dict.items(), key=lambda item: item[1])][:1000]

  return cent_vocab, cont_vocab

In [140]:
cent_vocab, cont_vocab = get_vocab(df)

In [141]:
cent_vocab[0]

'compass'

### 3.a3 Count co-occurrences between center and context words

What to implement: A function `get_coocs(df, center_vocab, context_vocab)` which takes as input the DataFrame generated in step 1, and the lists generated in step 2 and returns a dictionary of dictionaries, of the form in the example above. It is up to you how you define context (full review? per sentence? a sliding window of fixed size?), and how to deal with exceptional cases (center words occurring more than once, center and context words being part of your vocabulary because they are frequent both as a noun and as a verb, etc). Use comments in your code to justify your approach.

In [142]:
comments = df.comments
type(comments)

pandas.core.series.Series

In [143]:
comments[:5]

0    Daniel is really cool. The place was nice and ...
1    Daniel is the most amazing host! His place is ...
2    We had such a great time in Amsterdam. Daniel ...
3    Very professional operation. Room is very clea...
4    Daniel is highly recommended.  He provided all...
Name: comments, dtype: object

In [144]:
def get_coocs(df, cent_vocab, cont_vocab):
  sentences = []
  comments = df.comments

  for comment in comments:
    sentences.extend([sentence for sentence in comment.split('.')])
  
  # print(sentences)
  
  coocs = {}

  for center_word in cent_vocab:
    words = []
    for sentence in sentences:
      if center_word in sentence:
        words_in_sentence = word_tokenize(sentence)
        words.extend([word for word in words_in_sentence if word in cont_vocab])
    
    center_word_dict = dict(Counter(words))
    coocs[center_word] = center_word_dict
    
  # cent_dict = Counter(cent_list)
  # cont_dict = Counter(cont_list)
  
  return coocs

In [145]:
coocs = get_coocs(df, cent_vocab, cont_vocab)

### 3.a4 Convert co-occurrence dictionary to 1000x1000 dataframe
What to implement: A function called `cooc_dict2df(cooc_dict)`, which takes as input the dictionary of dictionaries generated in step 3 and returns a DataFrame where each row corresponds to one center word, and each column corresponds to one context word, and cells are their corresponding co-occurrence value. Some (x,y) pairs will never co-occur, you should have a 0 value for those cases.

In [153]:
def cooc_dict2df(coocs):
  coocdf = pd.DataFrame(columns=cont_vocab, index = cent_vocab)

  for index, row in coocdf.iterrows():
    for word in cont_vocab:
      try:
        coocdf[word][index] = coocs[index][word]
      except: 
        coocdf[word][index] = 0

  return coocdf

In [154]:
coocdf = cooc_dict2df(coocs)
coocdf.shape

(1000, 1000)

### 3.a5 Raw co-occurrences to PMI scores

What to implement: A function `cooc2pmi(df)` that takes as input the DataFrame generated in step 4, and returns a new DataFrame with the same rows and columns, but with PMI scores instead of raw co-occurrence counts.

In [190]:
coocdf

,umbrella,convienient,couldn.t,bicycles,exeptional,unmatched,corny,stucked,asthetic,well-thought-of,...,looooved,familiarize,awe-inspiring,leidseplein/,worderful,super-nice,nearby-,entertain,+tram,shore
compass,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
travelguide,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
accomation,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
nuances,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
command,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
diversos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
viajei,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sozinha,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
leidsesplein,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
nachteil,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [194]:
def cooc2pmi(df):
  pmidf = pd.DataFrame(columns=cont_vocab, index = cent_vocab)

  N = 0
  for index, row in coocdf.iterrows():
    N += sum(row)

  for index, row in coocdf.iterrows():
    for word in cont_vocab:
      try:
        pmi = df[index][word] / (sum(df[word])/N / sum(row)/N)
        pmidf[word][index] = np.log2([pmi])[0] 
        print(pmidf[word][index])
      except: 
        pmidf[word][index] = 0
      
  return pmidf

In [195]:
pmidf = cooc2pmi(coocdf)
pmidf.shape

23.847819078274203
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
<ipython-input-194-6d43e13bb03f>:12: RuntimeWarning: divide by zero encountered in log2
  pmidf[word][index] = np.log2([pmi])[0]
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
25.43278157899536
-inf
24.43278157899536
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
23.847819078274203
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
20.625426656937755
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
23.695815984829153
-inf
-inf
-inf
22.847819078274203
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
22.847819078274203
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
23.43278157899536
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
22.847819078274203
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
-inf
22.847819078274203
-inf
-inf
-inf

(1000, 1000)

In [196]:
pmidf

,umbrella,convienient,couldn.t,bicycles,exeptional,unmatched,corny,stucked,asthetic,well-thought-of,...,looooved,familiarize,awe-inspiring,leidseplein/,worderful,super-nice,nearby-,entertain,+tram,shore
compass,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
travelguide,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
accomation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
nuances,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
command,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
diversos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
viajei,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sozinha,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
leidsesplein,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
nachteil,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [198]:
for name in cont_vocab:
    if len(pmidf[name][pmidf[name] > 0]) > 0:
        print(pmidf[name][pmidf[name] > 0 ])

impatient    23.847819
Name: impatient, dtype: object
bountiful    24.432782
Name: bountiful, dtype: object
schlechte    22.847819
Name: schlechte, dtype: object
pensez    20.625427
Name: pensez, dtype: object
лучшее    23.847819
Name: лучшее, dtype: object
caracol    22.847819
Name: caracol, dtype: object
llegué    22.847819
Name: llegué, dtype: object
fiquei    22.847819
Name: fiquei, dtype: object
socialising    23.432782
Name: socialising, dtype: object
небольшие    23.695816
Name: небольшие, dtype: object
delen    25.432782
Name: delen, dtype: object

### 3.a6 Retrieve top-k context words, given a center word

What to implement: A function `topk(df, center_word, N=10)` that takes as input: (1) the DataFrame generated in step 5, (2) a `center_word` (a string like `‘towels’`), and (3) an optional named argument called `N` with default value of 10; and returns a list of `N` strings, in order of their PMI score with the `center_word`. You do not need to handle cases for which the word `center_word` is not found in `df`.

In [201]:
def topk(df, center_word, N=10):
  top_words = sorted([df[word][center_word] for word in cont_vocab])[:N]
  return top_words

In [207]:
topk(pmidf, 'coffee')

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# 3.b Ethical, social and legal implications

Local authorities in touristic hotspots like Amsterdam, NYC or Barcelona regulate the price of recreational apartments for rent to, among others, ensure that fair rent prices are kept for year-long residents. Consider your price recommender for hosts in Question 2c. Imagine that Airbnb recommends a new host to put the price of your flat at a price which is above the official regulations established by the local government. Upon inspection, you realize that the inflated price you have been recommended comes from many apartments in the area only being offered during an annual event which brings many tourists, and which causes prices to rise. 

In this context, critically reflect on the compliance of this recommender system with **one of the five actions** outlined in the **UK’s Data Ethics Framework**. You should prioritize the action that, in your opinion, is the weakest. Then, justify your choice by critically analyzing the three **key principles** outlined in the Framework, namely _transparency_, _accountability_ and _fairness_. Finally, you should propose and critically justify a solution that would improve the recommender system in at least one of these principles. You are strongly encouraged to follow a scholarly approach, e.g., with peer-reviewed references as support. 

Your report should be between 500 and 750 words long.

### Your answer here. No Python, only Markdown.

Write your answer after the line.

---

...