# Part 3 - Text analysis and ethics

# 3.a Computing PMI

In this assessment you are tasked to discover strong associations between concepts in Airbnb reviews. The starter code we provide in this notebook is for orientation only. The below imports are enough to implement a valid answer.

### Imports, data loading and helper functions

We first connect our google drive, import pandas, numpy and some useful nltk and collections modules, then load the dataframe and define a function for printing the current time, useful to log our progress in some of the tasks.

In [1]:
import pandas as pd
from nltk.tag import pos_tag
from nltk import RegexpParser
import re
from collections import defaultdict,Counter
from nltk.stem import WordNetLemmatizer
from datetime import datetime
from tqdm import tqdm
import numpy as np
import os
tqdm.pandas()

In [2]:
# nltk imports, note that these outputs may be different if you are using colab or local jupyter notebooks
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\c2086876\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\c2086876\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\c2086876\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [3]:
# load stopwords
sw = set(stopwords.words('english'))

In [4]:
# sw

In [5]:
'''We want to find the alternative forms of stopwords that have the "'" symbol in them 
in order to be able to add also to stopwords the word without this symbol'''

pattern = r'\w+\'\w+'

new_stopwords = []
for word in sw:
    # If it finds a word that contains "'" it appends the word in new_stopwords list
    if len(re.findall(pattern,word)) == 1:
        new_stopwords.append(re.findall(pattern,word)[0].replace('\'',''))
new_stopwords

In [6]:
# After checking those "new" words we add them to the stopwords variables named sw
for word in new_stopwords:
    sw.add(word)
sw

In [7]:
basedir = os.getcwd()
df = pd.read_csv(os.path.join(basedir,'reviews.csv'))
# deal with empty reviews
df.comments = df.comments.fillna('')

In [8]:
df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [9]:
df.shape

(452143, 6)

### 3.a1 - Process reviews

What to implement: A `function process_reviews(df)` that will take as input the original dataframe and will return it with three additional columns: `tokenized`, `tagged` and `lower_tagged`.

In [10]:
def process_reviews(df):
    '''
    This function takes as input the given dataframe and creates three new columns the tokenized, tagged and lower_tagged. 
    The tokenized column has as input the words of the comments for its row. The tagged has the result Part-of-speech (PoS) 
    tagging for the tokenized words and finally the lower_tagged column holds the tagged words in lowercase.

    Args:
        df: The dataframe we want to modify.

    Returns: A new version of the given dataframe with three additional columns: tokenized, tagged and lower_tagged.
    '''
    # Initialize 3 lists one for each column we will create
    tokenized_col = []
    tagged_col = []
    lower_tagged_col = []


    mylen = len(df)
    count = 0
    
    # Iterate through the given dataframe
    for index, row in df.iterrows():
        # tokenize the words for the comments of a row
        token = word_tokenize(row.comments)
        # Append the tokenized words to the proper list
        tokenized_col.append(token)
        # Tag the tokenized words of the row and then append them to the proper list
        tagged_col.append(pos_tag(token))
        # lower_tagged.append(list(set(pos_tag([item.lower() for item in token]))))
        # Make the tagged words lowercased and then if they are not stopwords append them to the lower_tagged_col list
        lower_tagged_col.append(pos_tag([item.lower() for item in token if item.lower() not in sw]))
        count += 1

    if count % 1000 == 0:
        print(f'{count} out of {mylen}')

    # Set as values of the 3 new columns the proper list we created for each one
    df['tokenized'] = tokenized_col
    df['tagged'] = tagged_col
    df['lower_tagged'] = lower_tagged_col

    # Return the modified dataframe
    return df

In [11]:
df = process_reviews(df)
# df = process_reviews(df[:2000])

1000 out of 452143
2000 out of 452143
3000 out of 452143
4000 out of 452143
5000 out of 452143
6000 out of 452143
7000 out of 452143
8000 out of 452143
9000 out of 452143
10000 out of 452143
11000 out of 452143
12000 out of 452143
13000 out of 452143
14000 out of 452143
15000 out of 452143
16000 out of 452143
17000 out of 452143
18000 out of 452143
19000 out of 452143
20000 out of 452143
21000 out of 452143
22000 out of 452143
23000 out of 452143
24000 out of 452143
25000 out of 452143
26000 out of 452143
27000 out of 452143
28000 out of 452143
29000 out of 452143
30000 out of 452143
31000 out of 452143
32000 out of 452143
33000 out of 452143
34000 out of 452143
35000 out of 452143
36000 out of 452143
37000 out of 452143
38000 out of 452143
39000 out of 452143
40000 out of 452143
41000 out of 452143
42000 out of 452143
43000 out of 452143
44000 out of 452143
45000 out of 452143
46000 out of 452143
47000 out of 452143
48000 out of 452143
49000 out of 452143
50000 out of 452143
51000 out of 452143
52000 out of 452143
53000 out of 452143
54000 out of 452143
55000 out of 452143
56000 out of 452143
57000 out of 452143
58000 out of 452143
59000 out of 452143
60000 out of 452143
61000 out of 452143
62000 out of 452143
63000 out of 452143
64000 out of 452143
65000 out of 452143
66000 out of 452143
67000 out of 452143
68000 out of 452143
69000 out of 452143
70000 out of 452143
71000 out of 452143
72000 out of 452143
73000 out of 452143
74000 out of 452143
75000 out of 452143
76000 out of 452143
77000 out of 452143
78000 out of 452143
79000 out of 452143
80000 out of 452143
81000 out of 452143
82000 out of 452143
83000 out of 452143
84000 out of 452143
85000 out of 452143
86000 out of 452143
87000 out of 452143
88000 out of 452143
89000 out of 452143
90000 out of 452143
91000 out of 452143
92000 out of 452143
93000 out of 452143
94000 out of 452143
95000 out of 452143
96000 out of 452143
97000 out of 452143
98000 out of 452143
99000 out of 452143
100000 out of 452143
101000 out of 452143
102000 out of 452143
103000 out of 452143
104000 out of 452143
105000 out of 452143
106000 out of 452143
107000 out of 452143
108000 out of 452143
109000 out of 452143
110000 out of 452143
111000 out of 452143
112000 out of 452143
113000 out of 452143
114000 out of 452143
115000 out of 452143
116000 out of 452143
117000 out of 452143
118000 out of 452143
119000 out of 452143
120000 out of 452143
121000 out of 452143
122000 out of 452143
123000 out of 452143
124000 out of 452143
125000 out of 452143
126000 out of 452143
127000 out of 452143
128000 out of 452143
129000 out of 452143
130000 out of 452143
131000 out of 452143
132000 out of 452143
133000 out of 452143
134000 out of 452143
135000 out of 452143
136000 out of 452143
137000 out of 452143
138000 out of 452143
139000 out of 452143
140000 out of 452143
141000 out of 452143
142000 out of 452143
143000 out of 452143
144000 out of 452143
145000 out of 452143
146000 out of 452143
147000 out of 452143
148000 out of 452143
149000 out of 452143
150000 out of 452143
151000 out of 452143
152000 out of 452143
153000 out of 452143
154000 out of 452143
155000 out of 452143
156000 out of 452143
157000 out of 452143
158000 out of 452143
159000 out of 452143
160000 out of 452143
161000 out of 452143
162000 out of 452143
163000 out of 452143
164000 out of 452143
165000 out of 452143
166000 out of 452143
167000 out of 452143
168000 out of 452143
169000 out of 452143
170000 out of 452143
171000 out of 452143
172000 out of 452143
173000 out of 452143
174000 out of 452143
175000 out of 452143
176000 out of 452143
177000 out of 452143
178000 out of 452143
179000 out of 452143
180000 out of 452143
181000 out of 452143
182000 out of 452143
183000 out of 452143
184000 out of 452143
185000 out of 452143
186000 out of 452143
187000 out of 452143
188000 out of 452143
189000 out of 452143
190000 out of 452143
191000 out of 452143
192000 out of 452143
193000 out of 452143
194000 out of 452143
195000 out of 452143
196000 out of 452143
197000 out of 452143
198000 out of 452143
199000 out of 452143
200000 out of 452143
201000 out of 452143
202000 out of 452143
203000 out of 452143
204000 out of 452143
205000 out of 452143
206000 out of 452143
207000 out of 452143
208000 out of 452143
209000 out of 452143
210000 out of 452143
211000 out of 452143
212000 out of 452143
213000 out of 452143
214000 out of 452143
215000 out of 452143
216000 out of 452143
217000 out of 452143
218000 out of 452143
219000 out of 452143
220000 out of 452143
221000 out of 452143
222000 out of 452143
223000 out of 452143
224000 out of 452143
225000 out of 452143
226000 out of 452143
227000 out of 452143
228000 out of 452143
229000 out of 452143
230000 out of 452143
231000 out of 452143
232000 out of 452143
233000 out of 452143
234000 out of 452143
235000 out of 452143
236000 out of 452143
237000 out of 452143
238000 out of 452143
239000 out of 452143
240000 out of 452143
241000 out of 452143
242000 out of 452143
243000 out of 452143
244000 out of 452143
245000 out of 452143
246000 out of 452143
247000 out of 452143
248000 out of 452143
249000 out of 452143
250000 out of 452143
251000 out of 452143
252000 out of 452143
253000 out of 452143
254000 out of 452143
255000 out of 452143
256000 out of 452143
257000 out of 452143
258000 out of 452143
259000 out of 452143
260000 out of 452143
261000 out of 452143
262000 out of 452143
263000 out of 452143
264000 out of 452143
265000 out of 452143
266000 out of 452143
267000 out of 452143
268000 out of 452143
269000 out of 452143
270000 out of 452143
271000 out of 452143
272000 out of 452143
273000 out of 452143
274000 out of 452143
275000 out of 452143
276000 out of 452143
277000 out of 452143
278000 out of 452143
279000 out of 452143
280000 out of 452143
281000 out of 452143
282000 out of 452143
283000 out of 452143
284000 out of 452143
285000 out of 452143
286000 out of 452143
287000 out of 452143
288000 out of 452143
289000 out of 452143
290000 out of 452143
291000 out of 452143
292000 out of 452143
293000 out of 452143
294000 out of 452143
295000 out of 452143
296000 out of 452143
297000 out of 452143
298000 out of 452143
299000 out of 452143
300000 out of 452143
301000 out of 452143
302000 out of 452143
303000 out of 452143
304000 out of 452143
305000 out of 452143
306000 out of 452143
307000 out of 452143
308000 out of 452143
309000 out of 452143
310000 out of 452143
311000 out of 452143
312000 out of 452143
313000 out of 452143
314000 out of 452143
315000 out of 452143
316000 out of 452143
317000 out of 452143
318000 out of 452143
319000 out of 452143
320000 out of 452143
321000 out of 452143
322000 out of 452143
323000 out of 452143
324000 out of 452143
325000 out of 452143
326000 out of 452143
327000 out of 452143
328000 out of 452143
329000 out of 452143
330000 out of 452143
331000 out of 452143
332000 out of 452143
333000 out of 452143
334000 out of 452143
335000 out of 452143
336000 out of 452143
337000 out of 452143
338000 out of 452143
339000 out of 452143
340000 out of 452143
341000 out of 452143
342000 out of 452143
343000 out of 452143
344000 out of 452143
345000 out of 452143
346000 out of 452143
347000 out of 452143
348000 out of 452143
349000 out of 452143
350000 out of 452143
351000 out of 452143
352000 out of 452143
353000 out of 452143
354000 out of 452143
355000 out of 452143
356000 out of 452143
357000 out of 452143
358000 out of 452143
359000 out of 452143
360000 out of 452143
361000 out of 452143
362000 out of 452143
363000 out of 452143
364000 out of 452143
365000 out of 452143
366000 out of 452143
367000 out of 452143
368000 out of 452143
369000 out of 452143
370000 out of 452143
371000 out of 452143
372000 out of 452143
373000 out of 452143
374000 out of 452143
375000 out of 452143
376000 out of 452143
377000 out of 452143
378000 out of 452143
379000 out of 452143
380000 out of 452143
381000 out of 452143
382000 out of 452143
383000 out of 452143
384000 out of 452143
385000 out of 452143
386000 out of 452143
387000 out of 452143
388000 out of 452143
389000 out of 452143
390000 out of 452143
391000 out of 452143
392000 out of 452143
393000 out of 452143
394000 out of 452143
395000 out of 452143
396000 out of 452143

397000 out of 452143
398000 out of 452143
399000 out of 452143
400000 out of 452143
401000 out of 452143
402000 out of 452143
403000 out of 452143
404000 out of 452143
405000 out of 452143
406000 out of 452143
407000 out of 452143
408000 out of 452143
409000 out of 452143
410000 out of 452143
411000 out of 452143
412000 out of 452143
413000 out of 452143
414000 out of 452143
415000 out of 452143
416000 out of 452143
417000 out of 452143
418000 out of 452143
419000 out of 452143
420000 out of 452143
421000 out of 452143
422000 out of 452143
423000 out of 452143
424000 out of 452143
425000 out of 452143
426000 out of 452143
427000 out of 452143
428000 out of 452143
429000 out of 452143
430000 out of 452143
431000 out of 452143
432000 out of 452143
433000 out of 452143
434000 out of 452143
435000 out of 452143
436000 out of 452143
437000 out of 452143
438000 out of 452143
439000 out of 452143
440000 out of 452143
441000 out of 452143
442000 out of 452143
443000 out of 452143
444000 out of 452143
445000 out of 452143
446000 out of 452143
447000 out of 452143
448000 out of 452143
449000 out of 452143
450000 out of 452143
451000 out of 452143
452000 out of 452143

In [12]:
df.lower_tagged

0         [(daniel, NN), (really, RB), (cool, JJ), (., ....
1         [(daniel, NN), (amazing, VBG), (host, NN), (!,...
2         [(great, JJ), (time, NN), (amsterdam, NN), (.,...
3         [(professional, JJ), (operation, NN), (., .), ...
4         [(daniel, NN), (highly, RB), (recommended, VBD...
                                ...
452138    [(great, JJ), (shared, VBD), (private, JJ), (s...
452139    [(muy, NN), (buen, NN), (trato, NN), (,, ,), (...
452140    [(stayed, VBN), (night, NN), (last, JJ), (minu...
452141                                         [(good, JJ)]
452142    [(amazing, VBG), (experience, NN), (!, .), (ly...
Name: lower_tagged, Length: 452143, dtype: object

In [14]:
# len(lowertagged)

In [15]:
# # correction with lower_tagged.append(pos_tag([item.lower() for item in token if item.lower() not in sw]))
# lowertagged = []

# pattern = r'\w+'

# for line in df.lower_tagged:
# #     print(line)
#     for word in line:
#         if word[1][0] == 'N' and len(re.findall(pattern,word[0])) == 0: 
#             pass
# #             print(word)
#         else:
#             lowertagged.append(word[0])
# #         if word[1][0] == 'N': print(word)
#             # print(re.findall(pattern,word[0]))
#             # if 
# len(lowertagged)

In [16]:
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,tokenized,tagged,lower_tagged
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...,"[Daniel, is, really, cool, ., The, place, was,...","[(Daniel, NNP), (is, VBZ), (really, RB), (cool...","[(daniel, NN), (really, RB), (cool, JJ), (., ...."
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...,"[Daniel, is, the, most, amazing, host, !, His,...","[(Daniel, NNP), (is, VBZ), (the, DT), (most, R...","[(daniel, NN), (amazing, VBG), (host, NN), (!,..."
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...,"[We, had, such, a, great, time, in, Amsterdam,...","[(We, PRP), (had, VBD), (such, JJ), (a, DT), (...","[(great, JJ), (time, NN), (amsterdam, NN), (.,..."
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...,"[Very, professional, operation, ., Room, is, v...","[(Very, RB), (professional, JJ), (operation, N...","[(professional, JJ), (operation, NN), (., .), ..."
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...,"[Daniel, is, highly, recommended, ., He, provi...","[(Daniel, NNP), (is, VBZ), (highly, RB), (reco...","[(daniel, NN), (highly, RB), (recommended, VBD..."
...,...,...,...,...,...,...,...,...,...
452138,46522591,714678579,2020-12-11,67834020,Nikolay,"Great shared and private spaces, very comfortable","[Great, shared, and, private, spaces, ,, very,...","[(Great, NNP), (shared, VBD), (and, CC), (priv...","[(great, JJ), (shared, VBD), (private, JJ), (s..."
452139,46522658,710509852,2020-11-22,228202558,Alekos,"Muy buen trato, central barato y acogedor","[Muy, buen, trato, ,, central, barato, y, acog...","[(Muy, NNP), (buen, NN), (trato, NN), (,, ,), ...","[(muy, NN), (buen, NN), (trato, NN), (,, ,), (..."
452140,46558182,710474593,2020-11-22,23339864,Khalil,Stayed here for a night last minute and had a ...,"[Stayed, here, for, a, night, last, minute, an...","[(Stayed, NNP), (here, RB), (for, IN), (a, DT)...","[(stayed, VBN), (night, NN), (last, JJ), (minu..."
452141,46591961,711401716,2020-11-26,366346169,Alejandro,Good,[Good],"[(Good, JJ)]","[(good, JJ)]"
452142,46866507,715138274,2020-12-13,234622860,Beryl,What an amazing experience! Lydia was such a l...,"[What, an, amazing, experience, !, Lydia, was,...","[(What, WP), (an, DT), (amazing, JJ), (experie...","[(amazing, VBG), (experience, NN), (!, .), (ly..."

In [17]:
# grammar = "CHUNK: {<JJ>*<NN.>+}" 
# cp = RegexpParser(grammar)
# parsed = cp.parse(df.tagged[0])
# print(parsed)

In [18]:
# for tree in parsed.subtrees():
#     print(tree)

In [19]:
# df.lower_tagged[0]

In [20]:
# num = 0
# print(len(df.tagged[num]), len(set(df.lower_tagged[num])))
# list(set(df.lower_tagged[num]))

### 3.a2 - Create a vocabulary

What to implement: A function `get_vocab(df)` which takes as input the DataFrame generated in step 1.c, and returns two lists, one for the 1,000 most frequent center words (nouns) and one for the 1,000 most frequent context words (either verbs or adjectives).

In [21]:
def get_vocab(df):
  cent_list, cont_list = [], []

  for review in df.lower_tagged:
    cent_list.extend([word for word in [list_of_words[0] for list_of_words in review if list_of_words[1][0] == 'N']])
    cont_list.extend([word for word in [list_of_words[0] for list_of_words in review if (list_of_words[1][0] == 'J') or (list_of_words[1][0] == 'V')]])
    
  cent_dict = Counter(cent_list)
  cont_dict = Counter(cont_list)

  cent_vocab = [key for key, value in sorted(cent_dict.items(), key=lambda item: item[1], reverse=True)][:1000]
  cont_vocab = [key for key, value in sorted(cont_dict.items(), key=lambda item: item[1], reverse=True)][:1000]

  return cent_vocab, cont_vocab

In [22]:
cent_vocab, cont_vocab = get_vocab(df)

In [23]:
cent_vocab[:5]

['place',
 'apartment',
 'location',
 'stay',
 'amsterdam',
 'host',
 'everything',
 'city',
 'room',
 'time',
 'house',
 'area',
 'home',
 'très',
 'center',
 'restaurants',
 '’',
 'station',
 'minutes',
 'walk',
 'centre',
 'tram',
 'experience',
 'space',
 'thanks',
 'à',
 'hosts',
 'neighborhood',
 'clean',
 'bien',
 'perfect',
 'communication',
 'day',
 'la',
 'kind',
 'distance',
 'days',
 'bed',
 'trip',
 'bathroom',
 'et',
 'night',
 'e',
 'sehr',
 'people',
 'thank',
 'places',
 'breakfast',
 'lot',
 'ist']

In [24]:
cont_vocab[:5]

['great',
 'nice',
 'recommend',
 'clean',
 'good',
 'stay',
 'comfortable',
 'easy',
 'perfect',
 'quiet',
 'un',
 'beautiful',
 'located',
 'helpful',
 'central',
 'super',
 'est',
 'amazing',
 'close',
 'amsterdam',
 'wonderful',
 'flat',
 '’',
 'get',
 'nous',
 'made',
 'staying',
 'enjoyed',
 'walking',
 'spacious',
 'loved',
 'little',
 'needed',
 'fantastic',
 'go',
 'best',
 'gave',
 'friendly',
 'come',
 'excellent',
 'small',
 'public',
 'local',
 'stayed',
 'walk',
 'next',
 'many',
 'tram',
 'short',
 'recommended']

### 3.a3 Count co-occurrences between center and context words

What to implement: A function `get_coocs(df, center_vocab, context_vocab)` which takes as input the DataFrame generated in step 1, and the lists generated in step 2 and returns a dictionary of dictionaries, of the form in the example above. It is up to you how you define context (full review? per sentence? a sliding window of fixed size?), and how to deal with exceptional cases (center words occurring more than once, center and context words being part of your vocabulary because they are frequent both as a noun and as a verb, etc). Use comments in your code to justify your approach.

In [25]:
def get_coocs(df, cent_vocab, cont_vocab):
  sentences = []
  comments = df.comments

  for comment in comments:
    sentences.extend([sentence for sentence in comment.split('.')])
  
  print('yolo')
  # print(sentences)
  
  coocs = {}
  
  count = 0
  for center_word in cent_vocab:
    count += 1
    words = []
    for sentence in sentences:
      if center_word in sentence:
        words_in_sentence = word_tokenize(sentence)
        words.extend([word for word in words_in_sentence if word in cont_vocab])
    
    center_word_dict = dict(Counter(words))
    coocs[center_word] = center_word_dict
    print(f'{count} out of 1000')
    
  # cent_dict = Counter(cent_list)
  # cont_dict = Counter(cont_list)

  
  return coocs

In [26]:
def get_coocs(df, cent_vocab, cont_vocab):
  sentences = []
  comments = df.comments

  for comment in comments:
    sentences.extend([sentence for sentence in comment.split('.')])
  
  print('yolo')
  # print(sentences)

  sentences_per_center_word = {center_word : Filter(sentences, [center_word]) for center_word in cent_vocab}
  
  print('swag')

  words = []
  coocs = {}

  count = 0
  count2 = 0
  diff = 0
  for center_word, sentences in sentences_per_center_word.items():
    count += 1
    start = pd.to_datetime('today')
    # print(value)
    count2 = 0
    for sentence in sentences:
      # print(sentence)
      # break
      count2 += 1
      # if count2 % 10 == 0 : print(f'{count2} sentence out of {len(sentences)} sentences')
      for word in word_tokenize(sentence):
        # print(word)
        # break
        if word in cont_vocab:
          words.append(word)   
           
        # break
    #   if count == 10:
    #     break
    # print(center_word)
    # print(words)
    # print(Counter(words))
    end = pd.to_datetime('today')
    diff += (end-start).total_seconds()
    print(f'{center_word} - - - - {(end-start).total_seconds()} seconds')
    coocs[center_word] = dict(Counter(words))
    if count % 20 == 0 : print(f'{count} center_word out of {len(sentences_per_center_word)} in {diff/60} minutes')
    # break

  # coocs = {key: dict(Counter([word for word in word_tokenize(value) if word in cont_vocab])) for key, value in sentences_per_center_word.items()}


  #   coocs = {}

  #   count = 0
  #   for center_word in cent_vocab:
  #     count += 1
  #     words = []
  #     for sentence in Filter(sentences, [center_word]):
  #         words_in_sentence = word_tokenize(sentence)
  #         words.extend([word for word in words_in_sentence if word in cont_vocab])
      
  #     center_word_dict = dict(Counter(words))
  #     coocs[center_word] = center_word_dict
  #     print(f'{count} out of 1000')
    
  # cent_dict = Counter(cent_list)
  # cont_dict = Counter(cont_list)

  print(diff/60)
  return coocs 

def Filter(string, substr):
    return [str for str in string if any(sub in str for sub in substr)]

In [ ]:
coocs = get_coocs(df, cent_vocab, cont_vocab)

yolo
swag
place - - - - 60.242398 seconds
apartment - - - - 52.117625 seconds
location - - - - 39.550274 seconds
stay - - - - 74.100316 seconds
amsterdam - - - - 3.409948 seconds
host - - - - 49.696653 seconds
everything - - - - 22.927752 seconds
city - - - - 31.665392 seconds
room - - - - 49.465751 seconds
time - - - - 24.239117 seconds
house - - - - 21.789679 seconds
area - - - - 19.967595 seconds
home - - - - 17.957967 seconds
très - - - - 15.315177 seconds
center - - - - 23.213674 seconds
restaurants - - - - 15.650124 seconds
’ - - - - 23.51368 seconds
station - - - - 11.308754 seconds
minutes - - - - 12.695999 seconds
walk - - - - 31.678272 seconds
20 center_word out of 1000 in 10.008435783333335 minutes
centre - - - - 14.234962 seconds
tram - - - - 20.272539 seconds
experience - - - - 10.402214 seconds
space - - - - 9.856604 seconds
thanks - - - - 2.402604 seconds
à - - - - 11.783491 seconds
hosts - - - - 8.258947 seconds
neighborhood - - - - 9.974334 seconds
clean - - - - 30.15446 seconds
bien - - - - 7.538836 seconds
perfect - - - - 24.231223 seconds
communication - - - - 5.774769 seconds
day - - - - 18.307113 seconds
la - - - - 127.284547 seconds
kind - - - - 8.876257 seconds
distance - - - - 7.96572 seconds
days - - - - 6.612313 seconds
bed - - - - 19.771121 seconds
trip - - - - 7.823077 seconds
bathroom - - - - 7.573744 seconds
40 center_word out of 1000 in 15.993417033333333 minutes
et - - - - 129.404137 seconds
night - - - - 11.324242 seconds
e - - - - 471.400003 seconds
sehr - - - - 5.465484 seconds
people - - - - 6.423624 seconds
thank - - - - 4.485199 seconds
places - - - - 7.461441 seconds
breakfast - - - - 7.549808 seconds
lot - - - - 14.686727 seconds
ist - - - - 30.409334 seconds
street - - - - 7.838088 seconds
boat - - - - 10.24759 seconds
tips - - - - 6.603641 seconds
der - - - - 32.365237 seconds
visit - - - - 11.759581 seconds
coffee - - - - 7.139893 seconds
arrival - - - - 6.049818 seconds
bus - - - - 12.018892 seconds
need - - - - 21.55139 seconds
muy - - - - 4.218955 seconds
60 center_word out of 1000 in 29.466801766666663 minutes
war - - - - 14.611013 seconds
min - - - - 44.737908 seconds
appartement - - - - 7.002273 seconds
die - - - - 6.934418 seconds
que - - - - 23.37855 seconds
transport - - - - 10.726556 seconds
airbnb - - - - 1.984978 seconds
view - - - - 8.179093 seconds
cozy - - - - 6.33865 seconds
check - - - - 17.126242 seconds
shops - - - - 7.513655 seconds
kitchen - - - - 9.165525 seconds
questions - - - - 5.039929 seconds
way - - - - 29.627821 seconds
bars - - - - 5.830683 seconds
minute - - - - 19.722014 seconds
helpful - - - - 17.396594 seconds
family - - - - 5.195961 seconds
studio - - - - 3.979686 seconds
anyone - - - - 4.66359 seconds
80 center_word out of 1000 in 33.61938741666666 minutes
things - - - - 5.421064 seconds
get - - - - 22.731749 seconds
es - - - - 202.667815 seconds
access - - - - 7.894027 seconds
dans - - - - 5.043699 seconds
mit - - - - 7.435779 seconds
man - - - - 19.720196 seconds
bit - - - - 10.473268 seconds
weekend - - - - 5.730596 seconds
town - - - - 6.88011 seconds
le - - - - 211.091039 seconds
lots - - - - 5.749916 seconds
je - - - - 9.042562 seconds
stairs - - - - 8.836978 seconds
con - - - - 40.636469 seconds
floor - - - - 5.210783 seconds
food - - - - 5.002414 seconds
information - - - - 5.046411 seconds
morning - - - - 5.565732 seconds
amenities - - - - 3.836895 seconds
100 center_word out of 1000 in 43.51967911666665 minutes
avons - - - - 3.753745 seconds
neighbourhood - - - - 4.746857 seconds
convenient - - - - 6.335769 seconds
zu - - - - 6.291805 seconds
du - - - - 21.228857 seconds
person - - - - 8.137697 seconds
wir - - - - 3.486099 seconds
houseboat - - - - 3.557776 seconds
recommendations - - - - 3.994581 seconds
part - - - - 97.948571 seconds
bedroom - - - - 6.907314 seconds
beautiful - - - - 19.216397 seconds
bikes - - - - 4.364659 seconds
pictures - - - - 4.290168 seconds
transportation - - - - 3.78384 seconds
des - - - - 19.773187 seconds
super - - - - 24.991473 seconds
train - - - - 5.452327 seconds
park - - - - 9.35854 seconds
il - - - - 89.47317 seconds
120 center_word out of 1000 in 49.30455964999999 minutes
door - - - - 6.837331 seconds
couple - - - - 5.421831 seconds
supermarket - - - - 4.936145 seconds
nights - - - - 3.739013 seconds
séjour - - - - 3.834577 seconds
bike - - - - 9.563303 seconds
attractions - - - - 3.321981 seconds
reservation - - - - 1.824098 seconds
recommend - - - - 37.87112 seconds
metro - - - - 4.770002 seconds
è - - - - 17.696358 seconds
calme - - - - 2.752636 seconds
airport - - - - 4.068118 seconds
situé - - - - 3.213408 seconds
problem - - - - 5.418535 seconds
help - - - - 25.196355 seconds
hospitality - - - - 2.757635 seconds
casa - - - - 3.735009 seconds
friends - - - - 3.549474 seconds
alles - - - - 2.462459 seconds
140 center_word out of 1000 in 51.85404945 minutes
beds - - - - 3.038872 seconds
water - - - - 3.635165 seconds
balcony - - - - 3.316165 seconds
spot - - - - 5.303641 seconds
museums - - - - 3.170521 seconds
posting - - - - 1.02829 seconds
photos - - - - 3.038767 seconds
garden - - - - 3.44634 seconds
book - - - - 6.512581 seconds
propre - - - - 2.745421 seconds
comfy - - - - 3.477698 seconds
terrace - - - - 3.067804 seconds
appartment - - - - 3.525724 seconds

### 3.a4 Convert co-occurrence dictionary to 1000x1000 dataframe
What to implement: A function called `cooc_dict2df(cooc_dict)`, which takes as input the dictionary of dictionaries generated in step 3 and returns a DataFrame where each row corresponds to one center word, and each column corresponds to one context word, and cells are their corresponding co-occurrence value. Some (x,y) pairs will never co-occur, you should have a 0 value for those cases.

In [ ]:
def cooc_dict2df(coocs):
  coocdf = pd.DataFrame(columns=cont_vocab, index = cent_vocab)

  for index, row in coocdf.iterrows():
    for word in cont_vocab:
      try:
        coocdf[word][index] = coocs[index][word]
      except: 
        coocdf[word][index] = 0

  return coocdf

In [ ]:
coocdf = cooc_dict2df(coocs)
coocdf.shape

### 3.a5 Raw co-occurrences to PMI scores

What to implement: A function `cooc2pmi(df)` that takes as input the DataFrame generated in step 4, and returns a new DataFrame with the same rows and columns, but with PMI scores instead of raw co-occurrence counts.

In [ ]:
coocdf

In [ ]:
def cooc2pmi(df):
  pmidf = pd.DataFrame(columns=cont_vocab, index = cent_vocab)

  N = 0
  for index, row in coocdf.iterrows():
    N += sum(row)

  for index, row in coocdf.iterrows():
    for word in cont_vocab:
      try:
        pmi = df[index][word] / (sum(df[word])/N / sum(row)/N)
        if pmi == 0:
          pmidf[word][index] = 0
        else:
          pmidf[word][index] = np.log([pmi])[0] 
#         print(pmidf[word][index])
      except: 
        pmidf[word][index] = 0
      
  return pmidf

In [ ]:
pmidf = cooc2pmi(coocdf)
pmidf.shape

In [ ]:
pmidf

In [ ]:
# for name in cont_vocab:
#     if len(pmidf[name][pmidf[name] > 0]) > 0:
#         print(pmidf[name][pmidf[name] > 0 ])

### 3.a6 Retrieve top-k context words, given a center word

What to implement: A function `topk(df, center_word, N=10)` that takes as input: (1) the DataFrame generated in step 5, (2) a `center_word` (a string like `‘towels’`), and (3) an optional named argument called `N` with default value of 10; and returns a list of `N` strings, in order of their PMI score with the `center_word`. You do not need to handle cases for which the word `center_word` is not found in `df`.

In [ ]:
def topk(df, center_word, N=10):
  top_words = sorted([df[word][center_word] for word in cont_vocab], reverse=True)[:N]
  return top_words

In [ ]:
topk(pmidf, 'location')

# 3.b Ethical, social and legal implications

Local authorities in touristic hotspots like Amsterdam, NYC or Barcelona regulate the price of recreational apartments for rent to, among others, ensure that fair rent prices are kept for year-long residents. Consider your price recommender for hosts in Question 2c. Imagine that Airbnb recommends a new host to put the price of your flat at a price which is above the official regulations established by the local government. Upon inspection, you realize that the inflated price you have been recommended comes from many apartments in the area only being offered during an annual event which brings many tourists, and which causes prices to rise. 

In this context, critically reflect on the compliance of this recommender system with **one of the five actions** outlined in the **UK’s Data Ethics Framework**. You should prioritize the action that, in your opinion, is the weakest. Then, justify your choice by critically analyzing the three **key principles** outlined in the Framework, namely _transparency_, _accountability_ and _fairness_. Finally, you should propose and critically justify a solution that would improve the recommender system in at least one of these principles. You are strongly encouraged to follow a scholarly approach, e.g., with peer-reviewed references as support. 

Your report should be between 500 and 750 words long.

### Your answer here. No Python, only Markdown.

Write your answer after the line.

---

...