# Part 3 - Text analysis and ethics

# 3.a Computing PMI

In this assessment you are tasked to discover strong associations between concepts in Airbnb reviews. The starter code we provide in this notebook is for orientation only. The below imports are enough to implement a valid answer.

### Imports, data loading and helper functions

We first connect our google drive, import pandas, numpy and some useful nltk and collections modules, then load the dataframe and define a function for printing the current time, useful to log our progress in some of the tasks.

In [240]:
import pandas as pd
from nltk.tag import pos_tag
from nltk import RegexpParser
import re
from collections import defaultdict,Counter
from nltk.stem import WordNetLemmatizer
from datetime import datetime
from tqdm import tqdm
import numpy as np
import os
tqdm.pandas()

In [241]:
# nltk imports, note that these outputs may be different if you are using colab or local jupyter notebooks
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Andreas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Andreas\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Andreas\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [193]:
# load stopwords
sw = set(stopwords.words('english'))

In [219]:
sw

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [194]:
basedir = os.getcwd()
df = pd.read_csv(os.path.join(basedir,'reviews.csv'))
# deal with empty reviews
df.comments = df.comments.fillna('')

In [195]:
df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [196]:
df.shape

(452143, 6)

### 3.a1 - Process reviews

What to implement: A `function process_reviews(df)` that will take as input the original dataframe and will return it with three additional columns: `tokenized`, `tagged` and `lower_tagged`.

In [197]:
def process_reviews(df):
  tokenized = []
  tagged = []
  lower_tagged = []

  mylen = len(df)
  count = 0
  for index, row in df.iterrows():
    token = word_tokenize(row.comments)
    tokenized.append(token)
    tagged.append(pos_tag(token))
    # lower_tagged.append(list(set(pos_tag([item.lower() for item in token]))))
    lower_tagged.append(pos_tag([item.lower() for item in token if item not in sw]))
    count += 1
    
    if count % 1000 == 0:      
      print(f'{count} out of {mylen}')

  df['tokenized'] = tokenized
  df['tagged'] = tagged
  df['lower_tagged'] = lower_tagged


  # df['tokenized'] = [ word_tokenize(row.comments) for index, row in df.iterrows()]
  # print('Tokenizing done!\n')
  # df['tagged'] = [pos_tag(row.tokenized) for index, row in df.iterrows()]
  # print('Tagging done!\n')
  # df['lower_tagged'] = list(set([pos_tag([item.lower() for item in row.tokenized]) for index, row in df.iterrows()]))
  # print('Lower tagging done!\n')
  return df

In [198]:
df = process_reviews(df[:50000])

1000 out of 50000
2000 out of 50000
3000 out of 50000
4000 out of 50000
5000 out of 50000
6000 out of 50000
7000 out of 50000
8000 out of 50000
9000 out of 50000
10000 out of 50000
11000 out of 50000
12000 out of 50000
13000 out of 50000
14000 out of 50000
15000 out of 50000
16000 out of 50000
17000 out of 50000
18000 out of 50000
19000 out of 50000
20000 out of 50000
21000 out of 50000
22000 out of 50000
23000 out of 50000
24000 out of 50000
25000 out of 50000
26000 out of 50000
27000 out of 50000
28000 out of 50000
29000 out of 50000
30000 out of 50000
31000 out of 50000
32000 out of 50000
33000 out of 50000
34000 out of 50000
35000 out of 50000
36000 out of 50000
37000 out of 50000
38000 out of 50000
39000 out of 50000
40000 out of 50000
41000 out of 50000
42000 out of 50000
43000 out of 50000
44000 out of 50000
45000 out of 50000
46000 out of 50000
47000 out of 50000
48000 out of 50000
49000 out of 50000
50000 out of 50000
<ipython-input-197-4b7144a7a664>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tokenized'] = tokenized
<ipython-input-197-4b7144a7a664>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tagged'] = tagged
<ipython-input-197-4b7144a7a664>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lower_tagged'] = lower_tagged

In [199]:
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,tokenized,tagged,lower_tagged
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...,"[Daniel, is, really, cool, ., The, place, was,...","[(Daniel, NNP), (is, VBZ), (really, RB), (cool...","[(daniel, NN), (really, RB), (cool, JJ), (., ...."
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...,"[Daniel, is, the, most, amazing, host, !, His,...","[(Daniel, NNP), (is, VBZ), (the, DT), (most, R...","[(daniel, NN), (amazing, VBG), (host, NN), (!,..."
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...,"[We, had, such, a, great, time, in, Amsterdam,...","[(We, PRP), (had, VBD), (such, JJ), (a, DT), (...","[(we, PRP), (great, JJ), (time, NN), (amsterda..."
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...,"[Very, professional, operation, ., Room, is, v...","[(Very, RB), (professional, JJ), (operation, N...","[(very, RB), (professional, JJ), (operation, N..."
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...,"[Daniel, is, highly, recommended, ., He, provi...","[(Daniel, NNP), (is, VBZ), (highly, RB), (reco...","[(daniel, NN), (highly, RB), (recommended, VBD..."
...,...,...,...,...,...,...,...,...,...
49995,995087,123196897,2016-12-28,29998110,Rodrigo,Nice place,"[Nice, place]","[(Nice, JJ), (place, NN)]","[(nice, JJ), (place, NN)]"
49996,995087,126479741,2017-01-12,33857593,Justine,This was a great place in a great location. Su...,"[This, was, a, great, place, in, a, great, loc...","[(This, DT), (was, VBD), (a, DT), (great, JJ),...","[(this, DT), (great, JJ), (place, NN), (great,..."
49997,995087,126927936,2017-01-15,55006052,Arron,Lovely little apartment in a quieter part of t...,"[Lovely, little, apartment, in, a, quieter, pa...","[(Lovely, RB), (little, JJ), (apartment, NN), ...","[(lovely, RB), (little, JJ), (apartment, NN), ..."
49998,995087,127556090,2017-01-19,64669388,Jake,"Great place, right next to Jordan. The apartme...","[Great, place, ,, right, next, to, Jordan, ., ...","[(Great, JJ), (place, NN), (,, ,), (right, RB)...","[(great, JJ), (place, NN), (,, ,), (right, JJ)..."
49999,995087,128494044,2017-01-25,110708214,Jenny,It's very nice to stay in Vera's house in Amst...,"[It, 's, very, nice, to, stay, in, Vera, 's, h...","[(It, PRP), ('s, VBZ), (very, RB), (nice, JJ),...","[(it, PRP), ('s, VBZ), (nice, JJ), (stay, NN),..."

In [245]:
df.comments[0]

'Daniel is really cool. The place was nice and clean. Very quiet neighborhood. He had maps and a lonely planet guide book in the room for you to use. I didnt have any trouble finding the place from Central Station. I would defintely come back! Thanks!'

In [242]:
grammar = "CHUNK: {<JJ>*<NN.>+}" 
cp = RegexpParser(grammar)
parsed = cp.parse(df.tagged[0])
print(parsed)

(S
  (CHUNK Daniel/NNP)
  is/VBZ
  really/RB
  cool/JJ
  ./.
  The/DT
  place/NN
  was/VBD
  nice/JJ
  and/CC
  clean/JJ
  ./.
  Very/RB
  quiet/JJ
  neighborhood/NN
  ./.
  He/PRP
  had/VBD
  (CHUNK maps/NNS)
  and/CC
  a/DT
  lonely/JJ
  planet/NN
  guide/NN
  book/NN
  in/IN
  the/DT
  room/NN
  for/IN
  you/PRP
  to/TO
  use/VB
  ./.
  I/PRP
  didnt/VBP
  have/VBP
  any/DT
  trouble/NN
  finding/VBG
  the/DT
  place/NN
  from/IN
  (CHUNK Central/JJ Station/NNP)
  ./.
  I/PRP
  would/MD
  defintely/RB
  come/VB
  back/RB
  !/.
  (CHUNK Thanks/NNS)
  !/.)

In [244]:
for tree in parsed.subtrees():
    print(tree)

(S
  (CHUNK Daniel/NNP)
  is/VBZ
  really/RB
  cool/JJ
  ./.
  The/DT
  place/NN
  was/VBD
  nice/JJ
  and/CC
  clean/JJ
  ./.
  Very/RB
  quiet/JJ
  neighborhood/NN
  ./.
  He/PRP
  had/VBD
  (CHUNK maps/NNS)
  and/CC
  a/DT
  lonely/JJ
  planet/NN
  guide/NN
  book/NN
  in/IN
  the/DT
  room/NN
  for/IN
  you/PRP
  to/TO
  use/VB
  ./.
  I/PRP
  didnt/VBP
  have/VBP
  any/DT
  trouble/NN
  finding/VBG
  the/DT
  place/NN
  from/IN
  (CHUNK Central/JJ Station/NNP)
  ./.
  I/PRP
  would/MD
  defintely/RB
  come/VB
  back/RB
  !/.
  (CHUNK Thanks/NNS)
  !/.)
(CHUNK Daniel/NNP)
(CHUNK maps/NNS)
(CHUNK Central/JJ Station/NNP)
(CHUNK Thanks/NNS)

In [233]:
df.lower_tagged[0]

[('daniel', 'NN'),
 ('really', 'RB'),
 ('cool', 'JJ'),
 ('.', '.'),
 ('the', 'DT'),
 ('place', 'NN'),
 ('nice', 'JJ'),
 ('clean', 'NN'),
 ('.', '.'),
 ('very', 'RB'),
 ('quiet', 'JJ'),
 ('neighborhood', 'NN'),
 ('.', '.'),
 ('he', 'PRP'),
 ('maps', 'VBZ'),
 ('lonely', 'RB'),
 ('planet', 'JJ'),
 ('guide', 'NN'),
 ('book', 'NN'),
 ('room', 'NN'),
 ('use', 'NN'),
 ('.', '.'),
 ('i', 'NN'),
 ('didnt', 'VBP'),
 ('trouble', 'NN'),
 ('finding', 'VBG'),
 ('place', 'JJ'),
 ('central', 'JJ'),
 ('station', 'NN'),
 ('.', '.'),
 ('i', 'NN'),
 ('would', 'MD'),
 ('defintely', 'RB'),
 ('come', 'VB'),
 ('back', 'RB'),
 ('!', '.'),
 ('thanks', 'NNS'),
 ('!', '.')]

In [200]:
# num = 0
# print(len(df.tagged[num]), len(set(df.lower_tagged[num])))
# list(set(df.lower_tagged[num]))

### 3.a2 - Create a vocabulary

What to implement: A function `get_vocab(df)` which takes as input the DataFrame generated in step 1.c, and returns two lists, one for the 1,000 most frequent center words (nouns) and one for the 1,000 most frequent context words (either verbs or adjectives).

In [201]:
def get_vocab(df):
  cent_list, cont_list = [], []

  for review in df.lower_tagged:
    cent_list.extend([word for word in [list_of_words[0] for list_of_words in review if list_of_words[1][0] == 'N']])
    cont_list.extend([word for word in [list_of_words[0] for list_of_words in review if (list_of_words[1][0] == 'J') or (list_of_words[1][0] == 'V')]])
    
  cent_dict = Counter(cent_list)
  cont_dict = Counter(cont_list)

  cent_vocab = [key for key, value in sorted(cent_dict.items(), key=lambda item: item[1], reverse=True)][:1000]
  cont_vocab = [key for key, value in sorted(cont_dict.items(), key=lambda item: item[1], reverse=True)][:1000]

  return cent_vocab, cont_vocab

In [202]:
cent_vocab, cont_vocab = get_vocab(df)

### 3.a3 Count co-occurrences between center and context words

What to implement: A function `get_coocs(df, center_vocab, context_vocab)` which takes as input the DataFrame generated in step 1, and the lists generated in step 2 and returns a dictionary of dictionaries, of the form in the example above. It is up to you how you define context (full review? per sentence? a sliding window of fixed size?), and how to deal with exceptional cases (center words occurring more than once, center and context words being part of your vocabulary because they are frequent both as a noun and as a verb, etc). Use comments in your code to justify your approach.

In [203]:
comments = df.comments
type(comments)

pandas.core.series.Series

In [204]:
comments[:5]

0    Daniel is really cool. The place was nice and ...
1    Daniel is the most amazing host! His place is ...
2    We had such a great time in Amsterdam. Daniel ...
3    Very professional operation. Room is very clea...
4    Daniel is highly recommended.  He provided all...
Name: comments, dtype: object

In [205]:
def get_coocs(df, cent_vocab, cont_vocab):
  sentences = []
  comments = df.comments

  for comment in comments:
    sentences.extend([sentence for sentence in comment.split('.')])
  
  print('yolo')
  # print(sentences)
  
  coocs = {}

  count = 0
  for center_word in cent_vocab:
    count += 1
    words = []
    for sentence in sentences:
      if center_word in sentence:
        words_in_sentence = word_tokenize(sentence)
        words.extend([word for word in words_in_sentence if word in cont_vocab])
    
    center_word_dict = dict(Counter(words))
    coocs[center_word] = center_word_dict
    print(f'{count} out of 1000')
    
  # cent_dict = Counter(cent_list)
  # cont_dict = Counter(cont_list)

  
  return coocs

In [217]:
def get_coocs(df, cent_vocab, cont_vocab):
  sentences = []
  comments = df.comments

  for comment in comments:
    sentences.extend([sentence for sentence in comment.split('.')])
  
  print('yolo')
  # print(sentences)

  sentences_per_center_word = {center_word : Filter(sentences, [center_word]) for center_word in cent_vocab}
  
  print('swag')

  words = []
  coocs = {}

  count = 0
  count2 = 0
  diff = 0
  for center_word, sentences in sentences_per_center_word.items():
    count += 1
    start = pd.to_datetime('today')
    # print(value)
    count2 = 0
    for sentence in sentences:
      # print(sentence)
      # break
      count2 += 1
      # if count2 % 10 == 0 : print(f'{count2} sentence out of {len(sentences)} sentences')
      for word in word_tokenize(sentence):
        # print(word)
        # break
        if word in cont_vocab:
          words.append(word)   
           
        # break
    #   if count == 10:
    #     break
    # print(center_word)
    # print(words)
    # print(Counter(words))
    coocs[center_word] = dict(Counter(words))
    end = pd.to_datetime('today')
    diff += (end-start).total_seconds()
    print(f'{(end-start).total_seconds()} seconds')
    if count % 20 == 0 : print(f'{count} center_word out of {len(sentences_per_center_word)} in {diff/60} minutes')
    # break

  # coocs = {key: dict(Counter([word for word in word_tokenize(value) if word in cont_vocab])) for key, value in sentences_per_center_word.items()}


  #   coocs = {}

  #   count = 0
  #   for center_word in cent_vocab:
  #     count += 1
  #     words = []
  #     for sentence in Filter(sentences, [center_word]):
  #         words_in_sentence = word_tokenize(sentence)
  #         words.extend([word for word in words_in_sentence if word in cont_vocab])
      
  #     center_word_dict = dict(Counter(words))
  #     coocs[center_word] = center_word_dict
  #     print(f'{count} out of 1000')
    
  # cent_dict = Counter(cent_list)
  # cont_dict = Counter(cont_list)

  print(diff/60)
  return coocs 

def Filter(string, substr):
    return [str for str in string if any(sub in str for sub in substr)]

In [218]:
coocs = get_coocs(df, cent_vocab, cont_vocab)

1.519151 seconds
1.654741 seconds
500 center_word out of 1000 in 29.129968200000004 minutes
1.632296 seconds
1.622884 seconds
1.704639 seconds
1.684264 seconds
1.519414 seconds
1.713175 seconds
1.684989 seconds
1.699186 seconds
1.7146 seconds
1.663184 seconds
1.662913 seconds
1.833519 seconds
1.657222 seconds
1.708804 seconds
1.882001 seconds
1.699051 seconds
1.632215 seconds
2.129128 seconds
1.97898 seconds
1.717782 seconds
520 center_word out of 1000 in 29.705638966666683 minutes
2.072663 seconds
1.704005 seconds
3.262991 seconds
2.118787 seconds
1.627657 seconds
1.894566 seconds
1.539467 seconds
1.642601 seconds
1.515944 seconds
3.606016 seconds
3.710903 seconds
1.706972 seconds
6.752227 seconds
13.837868 seconds
2.048311 seconds
1.61453 seconds
1.820453 seconds
16.395811 seconds
1.773465 seconds
1.640654 seconds
540 center_word out of 1000 in 30.910403816666687 minutes
1.691812 seconds
1.711942 seconds
1.719634 seconds
1.757735 seconds
1.711169 seconds
1.718103 seconds
1.590241 seconds
1.667865 seconds
3.211043 seconds
2.777557 seconds
1.751618 seconds
1.689236 seconds
1.534209 seconds
1.85899 seconds
1.656924 seconds
1.695895 seconds
2.383022 seconds
2.905447 seconds
1.555964 seconds
18.430336 seconds
560 center_word out of 1000 in 31.827382850000006 minutes
1.827907 seconds
2.477141 seconds
2.139033 seconds
1.867861 seconds
1.820243 seconds
2.079896 seconds
1.777132 seconds
1.69678 seconds
1.819326 seconds
1.649677 seconds
1.72731 seconds
1.817838 seconds
1.70686 seconds
1.644114 seconds
1.653854 seconds
1.620165 seconds
1.598128 seconds
1.772037 seconds
1.692027 seconds
1.719928 seconds
580 center_word out of 1000 in 32.42917046666667 minutes
5.339671 seconds
1.703123 seconds
1.764993 seconds
1.662068 seconds
1.802516 seconds
11.33192 seconds
1.621874 seconds
1.57594 seconds
1.778715 seconds
49.449427 seconds
1.770337 seconds
2.241999 seconds
2.924879 seconds
1.80478 seconds
1.714115 seconds
1.782493 seconds
1.914487 seconds
1.855245 seconds
1.715558 seconds
2.011285 seconds
600 center_word out of 1000 in 34.05859421666667 minutes
1.927826 seconds
2.225376 seconds
1.717696 seconds
1.860962 seconds
2.723853 seconds
1.76795 seconds
1.855473 seconds
1.89474 seconds
1.749505 seconds
4.292016 seconds
2.377244 seconds
2.37301 seconds
3.307102 seconds
3.655263 seconds
2.497114 seconds
2.375372 seconds
2.908436 seconds
1.832792 seconds
3.950595 seconds
1.923817 seconds
620 center_word out of 1000 in 34.87886325000001 minutes
1.689081 seconds
2.000899 seconds
1.925155 seconds
1.863329 seconds
1.872279 seconds
1.75537 seconds
2.290652 seconds
1.840268 seconds
2.187553 seconds
2.062384 seconds
1.825317 seconds
1.780263 seconds
1.885382 seconds
1.812734 seconds
1.894077 seconds
7.641376 seconds
1.841267 seconds
1.715299 seconds
8.794947 seconds
1.808988 seconds
640 center_word out of 1000 in 35.72030691666667 minutes
1.802892 seconds
1.828031 seconds
3.332926 seconds
1.753992 seconds
2.163842 seconds
2.691491 seconds
1.824994 seconds
1.870051 seconds
1.765826 seconds
1.960171 seconds
1.835828 seconds
1.796163 seconds
1.947425 seconds
8.619352 seconds
1.966936 seconds
1.858694 seconds
2.102643 seconds
1.850158 seconds
1.860803 seconds
1.756687 seconds
660 center_word out of 1000 in 36.49678866666668 minutes
1.805946 seconds
2.612017 seconds
1.754878 seconds
1.874654 seconds
2.471444 seconds
2.076865 seconds
1.745277 seconds
1.946752 seconds
3.169385 seconds
1.841578 seconds
2.311204 seconds
2.447819 seconds
2.165502 seconds
1.793932 seconds
1.917482 seconds
1.910607 seconds
5.824261 seconds
1.7692 seconds
1.842274 seconds
1.774089 seconds
680 center_word out of 1000 in 37.24770810000002 minutes
1.852946 seconds
1.794447 seconds
2.180992 seconds
14.59962 seconds
1.866868 seconds
1.877161 seconds
1.878319 seconds
1.763307 seconds
1.862855 seconds
1.744271 seconds
3.197098 seconds
2.240171 seconds
1.868854 seconds
1.961437 seconds
3.132899 seconds
1.954903 seconds
1.737351 seconds
1.903513 seconds
1.728715 seconds
2.395933 seconds
700 center_word out of 1000 in 38.14006910000002 minutes
1.87289 seconds
1.823124 seconds
1.885035 seconds
1.984389 seconds
1.86254 seconds
1.899887 seconds
2.179397 seconds
2.183184 seconds
2.136042 seconds
2.200558 seconds
2.236528 seconds
1.876301 seconds
1.85754 seconds
1.793504 seconds
2.46659 seconds
1.843442 seconds
1.868854 seconds
1.878484 seconds
1.823516 seconds
2.915227 seconds
720 center_word out of 1000 in 38.81651963333334 minutes
1.925669 seconds
1.815895 seconds
3.280083 seconds
3.515109 seconds
4.640069 seconds
1.973235 seconds
2.193213 seconds
1.881006 seconds
1.771174 seconds
2.220593 seconds
2.09728 seconds
1.833731 seconds
1.879304 seconds
2.069128 seconds
1.882218 seconds
1.868928 seconds
1.799141 seconds
1.998007 seconds
2.0976 seconds
2.103306 seconds
740 center_word out of 1000 in 39.563931116666694 minutes
2.22887 seconds
2.11514 seconds
1.979979 seconds
1.911876 seconds
2.094599 seconds
1.821145 seconds
2.978006 seconds
11.174361 seconds
1.965377 seconds
1.902241 seconds
5.361654 seconds
2.097571 seconds
1.791894 seconds
2.128801 seconds
1.831765 seconds
2.117857 seconds
1.946059 seconds
2.057414 seconds
2.017079 seconds
2.09603 seconds
760 center_word out of 1000 in 40.45755975000001 minutes
2.028312 seconds
1.928635 seconds
1.943424 seconds
1.788745 seconds
1.919681 seconds
1.978913 seconds
2.356547 seconds
1.802252 seconds
1.922929 seconds
3.139706 seconds
5.777861 seconds
1.915972 seconds
12.144771 seconds
1.809798 seconds
3.055932 seconds
1.85787 seconds
1.918183 seconds
1.914701 seconds
1.941116 seconds
1.830806 seconds
780 center_word out of 1000 in 41.37382898333333 minutes
2.017046 seconds
2.655913 seconds
1.971903 seconds
2.036045 seconds
2.019745 seconds
1.839018 seconds
1.911955 seconds
3.356046 seconds
2.141981 seconds
2.35844 seconds
3.322591 seconds
2.597838 seconds
1.81293 seconds
1.927086 seconds
2.233817 seconds
1.926107 seconds
1.912403 seconds
2.743348 seconds
2.388029 seconds
1.921016 seconds
800 center_word out of 1000 in 42.12538326666667 minutes
1.855567 seconds
5.66727 seconds
2.118353 seconds
1.949001 seconds
1.983525 seconds
1.919292 seconds
1.865229 seconds
2.165615 seconds
2.060287 seconds
2.008001 seconds
1.860577 seconds
1.962168 seconds
2.218096 seconds
1.960573 seconds
2.215195 seconds
3.24643 seconds
1.899025 seconds
3.060081 seconds
29.953396 seconds
2.045237 seconds
820 center_word out of 1000 in 43.3589319 minutes
1.882291 seconds
1.951434 seconds
1.966749 seconds
8.530277 seconds
1.923447 seconds
2.054741 seconds
1.889404 seconds
1.887833 seconds
2.172705 seconds
2.913263 seconds
2.051496 seconds
1.992858 seconds
2.136885 seconds
2.271911 seconds
2.096583 seconds
2.030583 seconds
1.900246 seconds
1.987414 seconds
1.977892 seconds
1.898784 seconds
840 center_word out of 1000 in 44.1508785 minutes
2.030148 seconds
1.970686 seconds
1.969307 seconds
2.046881 seconds
2.108988 seconds
1.876995 seconds
2.037186 seconds
2.181097 seconds
1.958201 seconds
1.991629 seconds
1.979546 seconds
2.1512 seconds
2.097812 seconds
2.002164 seconds
1.945402 seconds
3.008043 seconds
2.017673 seconds
2.032019 seconds
3.233564 seconds
2.444682 seconds
860 center_word out of 1000 in 44.86893221666666 minutes
2.343924 seconds
4.897272 seconds
2.333601 seconds
2.969894 seconds
2.047281 seconds
1.927643 seconds
1.916939 seconds
1.994599 seconds
1.971707 seconds
1.94396 seconds
1.911062 seconds
1.867049 seconds
2.074234 seconds
2.134151 seconds
2.334739 seconds
4.250437 seconds
1.925717 seconds
1.971978 seconds
1.956409 seconds
5.809755 seconds
880 center_word out of 1000 in 45.71197140000001 minutes
2.230947 seconds
3.871531 seconds
2.067373 seconds
1.914782 seconds
3.466089 seconds
1.963327 seconds
1.894916 seconds
1.926835 seconds
2.004426 seconds
2.74841 seconds
5.460439 seconds
1.970185 seconds
1.994901 seconds
1.948621 seconds
1.88003 seconds
2.23432 seconds
1.914658 seconds
1.870187 seconds
1.934725 seconds
1.949475 seconds
900 center_word out of 1000 in 46.49940768333334 minutes
1.939615 seconds
1.881074 seconds
2.163601 seconds
1.938633 seconds
1.933376 seconds
1.926934 seconds
1.899081 seconds
1.949465 seconds
2.835579 seconds
1.978786 seconds
1.986609 seconds
1.898432 seconds
1.91769 seconds
2.133518 seconds
1.989368 seconds
2.03063 seconds
2.213026 seconds
1.871266 seconds
1.847874 seconds
1.907563 seconds
920 center_word out of 1000 in 47.170109683333365 minutes
1.864533 seconds
1.931265 seconds
1.925255 seconds
1.738525 seconds
2.622109 seconds
2.228084 seconds
1.73979 seconds
1.73699 seconds
1.793438 seconds
1.797173 seconds
1.836457 seconds
1.72572 seconds
1.749103 seconds
1.756159 seconds
1.720269 seconds
2.940516 seconds
1.753007 seconds
1.92279 seconds
1.729547 seconds
3.80153 seconds
940 center_word out of 1000 in 47.84198068333337 minutes
3.031784 seconds
1.728205 seconds
3.014837 seconds
3.872962 seconds
1.805513 seconds
1.894706 seconds
1.861566 seconds
2.326858 seconds
1.88661 seconds
1.848614 seconds
1.835846 seconds
2.185677 seconds
2.226379 seconds
2.138178 seconds
1.899407 seconds
1.952384 seconds
1.915379 seconds
1.969602 seconds
2.587329 seconds
2.021148 seconds
960 center_word out of 1000 in 48.57536375000003 minutes
2.173947 seconds
2.482528 seconds
2.32524 seconds
1.824527 seconds
1.804136 seconds
1.748429 seconds
2.781291 seconds
1.850157 seconds
1.838676 seconds
1.978155 seconds
1.797344 seconds
2.231131 seconds
1.7832 seconds
1.83518 seconds
2.014548 seconds
1.916415 seconds
1.885946 seconds
1.923844 seconds
1.783419 seconds
1.78988 seconds
980 center_word out of 1000 in 49.23816363333336 minutes
1.868261 seconds
1.990636 seconds
2.031265 seconds
1.83712 seconds
1.893083 seconds
1.925172 seconds
1.998384 seconds
1.790004 seconds
1.84198 seconds
1.89204 seconds
2.185517 seconds
1.817854 seconds
35.493521 seconds
1.83636 seconds
1.858492 seconds
1.850967 seconds
1.831533 seconds
2.003696 seconds
1.874061 seconds
2.004433 seconds
1000 center_word out of 1000 in 50.43523661666669 minutes
1.900267 seconds
50.466907733333365

### 3.a4 Convert co-occurrence dictionary to 1000x1000 dataframe
What to implement: A function called `cooc_dict2df(cooc_dict)`, which takes as input the dictionary of dictionaries generated in step 3 and returns a DataFrame where each row corresponds to one center word, and each column corresponds to one context word, and cells are their corresponding co-occurrence value. Some (x,y) pairs will never co-occur, you should have a 0 value for those cases.

In [220]:
def cooc_dict2df(coocs):
  coocdf = pd.DataFrame(columns=cont_vocab, index = cent_vocab)

  for index, row in coocdf.iterrows():
    for word in cont_vocab:
      try:
        coocdf[word][index] = coocs[index][word]
      except: 
        coocdf[word][index] = 0

  return coocdf

In [221]:
coocdf = cooc_dict2df(coocs)
coocdf.shape

(1000, 1000)

### 3.a5 Raw co-occurrences to PMI scores

What to implement: A function `cooc2pmi(df)` that takes as input the DataFrame generated in step 4, and returns a new DataFrame with the same rows and columns, but with PMI scores instead of raw co-occurrence counts.

In [222]:
coocdf

,great,nice,recommend,i,stay,clean,good,comfortable,perfect,easy,...,carolina,meant,says,present,italian,leo,riding,stanza,chez,historical
place,3656,2033,2356,168,4538,1658,1111,883,1517,704,...,0,5,10,3,1,0,6,0,9,7
apartment,6540,3768,3558,268,6806,3842,1918,2164,2849,1320,...,0,15,20,10,1,0,15,0,10,16
location,11058,5044,4054,327,7955,4926,3253,2874,5246,2209,...,0,26,29,12,2,0,17,0,12,24
amsterdam,11170,5126,4098,402,8124,4958,3293,2896,5303,2242,...,0,27,29,12,2,0,17,4,13,24
stay,15003,6863,7277,658,28511,5930,4173,4115,6780,2754,...,0,40,36,26,3,0,28,4,14,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
pressure,400771,250074,190370,27936,376654,207489,152617,175706,162264,121731,...,49,2670,1405,1800,407,42,1891,3178,10605,1737
heater,400781,250085,190372,27936,376659,207501,152623,175718,162267,121731,...,49,2670,1405,1800,407,42,1891,3178,10605,1737
sido,400781,250085,190372,27936,376659,207501,152623,175718,162267,121731,...,49,2670,1405,1800,407,42,1891,3178,10605,1737
accueillant,400781,250085,190372,27936,376659,207501,152623,175718,162267,121731,...,49,2670,1405,1800,407,42,1891,3178,10621,1737
baño,400781,250085,190372,27936,376659,207501,152623,175718,162267,121731,...,49,2670,1405,1800,407,42,1891,3178,10621,1737

In [223]:
def cooc2pmi(df):
  pmidf = pd.DataFrame(columns=cont_vocab, index = cent_vocab)

  N = 0
  for index, row in coocdf.iterrows():
    N += sum(row)

  for index, row in coocdf.iterrows():
    for word in cont_vocab:
      try:
        pmi = df[index][word] / (sum(df[word])/N / sum(row)/N)
        if pmi == 0:
          pmidf[word][index] = 0
        else:
          pmidf[word][index] = np.log([pmi])[0] 
        print(pmidf[word][index])
      except: 
        pmidf[word][index] = 0
      
  return pmidf

In [224]:
pmidf = cooc2pmi(coocdf)
pmidf.shape

8101439
55.22074979892282
55.82637473258414
56.550586273069676
57.54856320443356
60.83174072142332
56.60603567683757
61.55854788937479
56.771784602267225
57.72186380510572
57.681212267876816
56.95649123448234
61.569832022645826
59.523287206035
59.51784850142511
54.926495167273636
61.69272961225518
57.0320179671697
55.40612081101506
56.901164418188635
54.86801946947991
56.46048992565462
56.01334098341999
55.113981366318754
60.58151095146721
60.99012441201705
55.86525509034819
54.89668292687646
60.90659809602264
55.801657879897114
61.8696765841769
57.53053577906022
58.11807609920102
56.03386676208725
57.02366322885557
57.87395683465342
60.75812945267364
56.093032479200716
57.42611412697003
59.48545873297607
54.74141195502379
55.51798534889082
60.294529052923025
56.20194509486683
55.86498346156545
57.165760532454975
57.305851018009946
57.43610700471433
57.221296885118484
57.36287699219627
47.92323192258999
56.463353196198504
56.30704216643832
58.76713960588715
51.67326213870561
56.046655365932935
57.3653697521002
57.23643317856817
55.92140775616087
56.74218537602419
54.445574244874976
56.50705053097007
56.127598453620244
54.04248883866441
56.496068983003866
61.99846081334488
59.92686334167267
56.84003382865811
56.40288435239776
61.84015595978945
57.182775537857054
52.267097741228525
53.769870068301834
60.07654563187489
59.11723242389461
55.68714067233496
53.73101965228022
57.83828086071549
57.13177404911596
62.34554221526743
61.437204555248165
55.55149366396524
56.72747773430417
57.44049928810226
57.876726186307145
51.504425839032336
56.01428587525134
53.41344161561253
57.64683777472199
54.083564604182904
61.24381428129583
60.94010729613027
56.082134086877666
55.85190045140929
57.19395800176033
56.25550565664771
57.14015046032753
55.341571350944506
56.54689596553985
57.430369931500266
57.06695501084526
57.177695116340956
60.989026050724355
58.0036570324869
54.643770921911596
54.47743481408973
57.25137056182039
59.38312662174681
59.746039707400804
61.615110470272334
55.512619980920626
56.958753322557726
54.952806754828536
56.470154757102065
56.30281342145174
58.04955139931965
56.47663911620512
63.24424824607393
57.474799886260456
56.61989527714435
57.48034083289518
55.19995987519999
57.633769446246895
57.942770099577665
56.860987480151884
59.86668481566765
56.7599065022688
55.16423085749875
57.822649343909035
56.12159958046925
57.43333409491469
57.32738621020994
56.78550298443978
57.92874458156938
56.95216020510521
56.11441665153045
57.205907076219425
57.636191547240124
57.68934976486346
57.2875119886904
62.173643789506855
61.68603894437554
57.42601246959159
57.3607085719784
52.8638755280507
56.87470208536569
60.281114542074484
57.26782293904808
58.04329570450281
56.991251350702825
57.223385156109515
55.585122690302434
61.46207389494205
57.9674906161724
57.92302377218851
57.92628442917646
62.49731311744341
62.6396553458575
56.860222113347994
52.26790530430612
52.78805865143837
52.2483920959024
46.02700232471483
50.887723708778324
53.669405407729656
52.87765139223955
51.130478622871216
53.79943949903817
53.466707239580785
52.282983262760865
53.460585470288926
49.04346621179217
52.868498989887
53.97214551523332
54.175897853528625
53.44237669988162
52.75412114196231
53.857705790781196
54.45495177567405
53.43065050904543
54.44460033705918
51.92929462150217
53.91130513334118
51.06135628090657
54.96448470555163
53.8952004325232
53.12780234179793
54.35941154800439
52.75024142271218
53.730334515597455
51.295451507941415
53.09132739520735
45.67690382831631
53.299721014522135
54.87751145381955
53.753486485335294
54.28422209678796
54.279604602095475
55.14642029547894
53.73100855559173
54.20748026263053
54.45911795551751
55.43164250695936
54.7299178424377
55.56305317582735
55.32870214069703
51.37856265253146
55.285400004753896
54.99678967486329
52.29218332143968
55.48379019881543
51.950890063071796
54.28672022477564
51.238407037267066
53.50230472024845
52.9298819147586
55.51225373368038
54.08011133220806
54.13039555907687
55.32713156825878
53.111458829618876
55.342606381646426
53.695142034488235
53.38352843254312
54.49749730840448
54.72493749040458
55.682067954260525
55.301473542436504
51.52856210703757
54.932639283777156
55.49762911694607
55.63104358312584
55.70601869830208
53.53699295318403
54.462145183172545
54.75909870350971
55.385590946439486
53.91701675765921
51.704823633075726
54.30894662027522
55.86301891213199
54.57820602376377
56.0488009838845
55.73786393427636
54.99041883224024
54.292733993721924
54.414946120112525
53.22277696500049
55.90153278832863
55.704226967609536
53.72566873331452
53.833933968838124
55.95025027053752
60.366512922790214
45.772425155810176
52.86557512670481
54.32772215702933
55.26026952219875
54.80609026436318
55.812702149534715
54.44246721112296
53.82487349345229
56.063037951855165
59.736901817786276
55.1637212176507
54.86687318299288
55.610663449503825
51.473408595882695
56.220327253085834
56.34995398636683
54.85998540876443
56.2621476005699
55.55785696658415
54.3537502745833
53.1932237483601
54.4884100208783
54.46906836874433
53.94868108697815
54.49332990566786
53.36220098413587
54.31355416634716
56.34189139309343
56.08312304949726
56.454901518332996
55.4471635579506
54.720470193353265
53.23717291720666
56.03956854048097
56.457246001097324
56.47492675800563
54.858332555869794
53.97669816398517
55.22928371850894
55.93980353774854
53.26962281098707
54.797357890062884
54.87889934680482
59.31793775704968
54.07785668796648
55.664819503749925
54.748734978378764
51.80346862013946
55.17782458005007
56.022931222995105
56.27216630063392
55.04936031734295
59.04175722101442
60.767650691005166
54.84473872134209
54.754962473082564
55.11872408297107
55.29342595040096
54.8140926259742
53.97022110912769
55.9366645911894
51.96895116341934
61.361673838010944
55.722745800834396
56.971026477939134
54.31704304538544
56.11525581231827
61.233985493466186
53.44056963998337
55.438513043138336
56.06497388043571
55.988837750133406
56.50643961997919
62.693954622030205
54.1498079536985
53.335625869097335
50.213527788742404
54.70913419965402
54.93642202872582
56.86768744006366
56.19544748801771
54.30034618811679
54.87655416299304
55.82986722492189
55.94431044716154
55.423410218473336
54.867730521071806
59.90076957399033
55.502688910810576
52.40899786177501
54.53937767972206
56.27124016218678
56.64446796302178
59.07368174100782
56.996304481377706
59.00715138350076
59.735283901392485
58.953749006900054
53.42064585500248
55.44285056400816
52.87311743016797
56.38691903981951
54.952056316897526
58.4202210032989
60.18748616100277
56.68081860790059
56.60052919432875
56.84138264015193
55.47921317324955
54.97559500691673
54.74755535216341
56.24084357693535
54.99462661214463
59.759818107754626
53.494173071179056
55.75095793198619
56.02937082812533
60.87627021241114
54.58583463110517
55.94464808567218
56.533147043178204
55.52488760154369
59.878725744418205
56.682263393433786
60.382499990969805
56.45707355531494
56.740446965577945
55.91765254007555
56.42425161233001
51.91415221073355
53.52838994279756
56.342373769801654
55.967458502945526
56.7593574135238
56.45674163310894
54.588902231435675
54.61824321210897
55.156023856732475
55.80368433536994
56.79554411017515
60.077833044459766
55.88090001561979
60.80570702926096
56.01894958119472
56.967356115084314
56.93061366077591
56.2061810236574
60.81999751152496
58.84946354230275
58.848578940246306
54.273577058249614
60.90759695817516
56.31134733924567
54.800200454839754
56.18399539438896
54.23580937486688
55.70422023795128
55.28528979073353
54.51140631390754
59.843226017611585
60.25727993882689
55.195898531293146
54.245713927976254
60.18619569245441
55.12980466015215
61.13144093382798
56.79885923354751
57.357176867840174
55.31491372251667
56.297249365895574
57.11485732353126
60.03750695956283
55.361138326934665
56.67551551986912
58.81618917179728
54.109201860410764
54.88930305998398
59.547627115223285
55.47890674023462
55.19546554573493
56.42574851347362
56.511174743921785
56.687962143663135
56.48212907243634
56.61291166093999
45.942542917853885
55.706890089433344
55.57258577531804
58.116549036508964
51.08762111901564
55.318604173246484
56.61727235699569
56.48523709231936
55.179243646646235
55.99291160370747
53.866432578850365
55.75644367741542
55.389711967543036
53.577870694643444
55.76845590642518
61.276517433565786
59.176898010416394
56.11420271746624
55.65784369742876
61.11944931112064
56.45873660312575
51.87493229277766
53.32225050978955
59.301189891757424
58.39140131270274
55.05070564436762
53.282998112342284
57.086410974897376
56.40801193099542
61.57926643819124
60.68735737841986
54.953832822562404
55.99065936001687
56.68989243454761
57.12623653169784
50.918784819342356
55.29284534907102
52.92570238062557
56.89687244346571
53.54641548729878
60.468458541178364
60.200939483448124
55.41133208544808
55.17805124385115
56.469886345006685
55.52361150438166
56.41944381165872
54.73898510512658
55.803192802239316
56.705693804184996
56.341910013770715
56.45698846767215
60.23619102965185
57.23662997636492
54.02184673286536
53.893233938663066
56.527018085070516
58.710424311394014
59.092694196541316
60.846554118997844
54.90908046861113
56.191171630333706
54.34786239995965
55.73846223806586
55.57476222876529
57.28371825504784
55.73875263012791
62.49140738596009
56.72495270943215
55.88440691136566
56.76007646507843
54.59871455453622
56.865144331882426
57.17710737048178
56.09469372085818
59.213339304808166
56.01088194151722
54.56165580508754
57.09802519274096
55.389907061433036
56.685316521465836
56.58072163140494
56.029145826728545
57.159791723715884
56.19903237689053
55.442563431785494
56.48214495809888
56.88537139710746
56.939502588035154
56.55871555462293
61.4206105936842
60.91974518508184
56.685924868311574
56.64031388224596
52.16557631714916
56.12233555809421
59.610560096036686
56.54703001357177
57.287362648236034
56.265577638780535
56.50312078829276
54.9564404013956
60.70599636514824
57.20182788707651
57.157973279923056
57.16204417997321
61.747347786187134
61.87399261676161
56.0953150488774

(1000, 1000)

In [225]:
pmidf

,great,nice,recommend,i,stay,clean,good,comfortable,perfect,easy,...,carolina,meant,says,present,italian,leo,riding,stanza,chez,historical
place,0,51.599916,52.116041,52.611155,49.478409,50.841277,52.989976,52.291475,51.111314,53.154812,...,61.071177,0,0,0,0,61.204768,0,0,55.479375,0
apartment,0,52.306652,52.817852,53.235248,50.068215,51.490355,53.76481,52.936539,51.759362,53.931479,...,61.846994,0,0,0,0,61.974464,0,0,56.191463,0
location,0,52.354964,52.866153,53.375275,50.199758,51.701556,53.812099,53.003022,51.989169,53.974296,...,61.891878,0,0,0,0,62.017871,0,0,56.315407,0
amsterdam,0,49.44907,50.047321,50.468474,47.373178,48.74596,50.956758,50.169619,49.012455,51.115597,...,59.037591,0,0,0,0,59.172759,0,0,53.425961,0
stay,0,52.87687,53.415004,54.017774,50.887438,52.211606,54.309381,53.534968,52.476751,54.470305,...,62.391166,0,0,0,0,62.528456,0,0,56.765624,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
pressure,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
heater,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sido,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
accueillant,0,52.267905,52.788059,52.248392,46.027002,50.887724,53.669405,52.877651,51.130479,53.799439,...,61.747348,0,0,0,0,61.873993,0,0,56.095315,0
baño,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [226]:
for name in cont_vocab:
    if len(pmidf[name][pmidf[name] > 0]) > 0:
        print(pmidf[name][pmidf[name] > 0 ])

erdam      51.726665
stay           55.158133
                 ...
amy            51.084542
quartier       56.161291
frühstück       50.51307
ou             55.164231
accueillant    54.561656
Name: supermarket, Length: 389, dtype: object
place          56.429806
apartment      57.169486
location       57.266622
amsterdam      54.383708
stay           57.720483
                 ...
amy            53.779389
quartier       58.763294
frühstück       53.36005
ou             57.822649
accueillant    57.098025
Name: bnb, Length: 389, dtype: object
place          54.792367
apartment      55.502659
location       55.521297
amsterdam      52.727761
stay           56.058235
                 ...
amy            52.066332
quartier        57.09383
frühstück      51.598203
ou               56.1216
accueillant    55.389907
Name: par, Length: 389, dtype: object
place          56.042225
apartment       56.81895
location       56.862095
amsterdam      54.003222
stay           57.358579
                 ...
amy            53.449879
quartier       58.406857
frühstück      53.002584
ou             57.433334
accueillant    56.685317
Name: cafés, Length: 389, dtype: object
place          55.934389
apartment      56.711139
location       56.752729
amsterdam      53.895096
stay            57.24998
                 ...
amy             53.33257
quartier       58.301263
frühstück      52.898519
ou             57.327386
accueillant    56.580722
Name: cette, Length: 389, dtype: object
place           55.45182
apartment        56.1724
location       56.293447
amsterdam      53.385864
stay            56.72958
                 ...
amy             52.74474
quartier       57.730942
frühstück      52.288781
ou             56.785503
accueillant    56.029146
Name: cat, Length: 389, dtype: object
place          56.493522
apartment      57.263982
location       57.304269
amsterdam      54.459775
stay           57.815444
                 ...
amy             53.94783
quartier       58.894001
frühstück      53.555603
ou             57.928745
accueillant    57.159792
Name: offers, Length: 389, dtype: object
place          55.572971
apartment      56.281969
location       56.400869
amsterdam      53.517729
stay           56.861621
                 ...
amy            52.826496
quartier       57.889513
frühstück      52.468996
ou              56.95216
accueillant    56.199032
Name: issue, Length: 389, dtype: object
place          54.772835
apartment       55.47651
location       55.526998
amsterdam      52.704104
stay           56.070419
                 ...
amy            52.016926
quartier        57.10825
frühstück      51.634841
ou             56.114417
accueillant    55.442563
Name: tidy, Length: 389, dtype: object
place          55.815704
apartment      56.552152
location       56.645375
amsterdam      53.762971
stay           57.106003
                 ...
amy            53.172296
quartier       58.145748
frühstück      52.741624
ou             57.205907
accueillant    56.482145
Name: downstairs, Length: 389, dtype: object
place          56.232069
apartment      57.008493
location       57.053655
amsterdam      54.195423
stay           57.548706
                 ...
amy            53.671637
quartier       58.614554
frühstück      53.189574
ou             57.636192
accueillant    56.885371
Name: watch, Length: 389, dtype: object
place           56.26264
apartment      57.038373
location       57.083499
amsterdam      54.228293
stay           57.582568
                 ...
amy            53.709842
quartier       58.669315
frühstück      53.287559
ou              57.68935
accueillant    56.939503
Name: solo, Length: 389, dtype: object
place          55.885425
apartment      56.622424
location       56.714079
amsterdam      53.834804
stay           57.176315
                 ...
amy            53.238922
quartier       58.231731
frühstück       52.84663
ou             57.287512
accueillant    56.558716
Name: sit, Length: 389, dtype: object
place          60.734193
apartment      61.507571
location       61.555743
amsterdam      58.702665
stay           62.057575
                 ...
amy            58.203518
quartier       63.151095
frühstück      57.770074
ou             62.173644
accueillant    61.420611
Name: dotti, Length: 389, dtype: object
place          60.306382
apartment      61.018481
location       61.142421
amsterdam      58.252907
stay           61.592642
                 ...
amy            57.589517
quartier       62.627193
frühstück      57.181492
ou             61.686039
accueillant    60.919745
Name: marcel, Length: 389, dtype: object
place          56.020676
apartment      56.801151
location       56.841673
amsterdam      53.974255
stay           57.327072
                 ...
amy            53.425591
quartier       58.387043
frühstück      52.994026
ou             57.426012
accueillant    56.685925
Name: su, Length: 389, dtype: object
place          55.970625
apartment       56.70784
location       56.801769
amsterdam      53.917933
stay           57.260283
                 ...
amy            53.323918
quartier       58.303063
frühstück      52.893246
ou             57.360709
accueillant    56.640314
Name: taxi, Length: 389, dtype: object
place          52.154788
apartment      52.806264
location       53.032899
amsterdam      50.051577
stay           53.517064
                 ...
amy            49.132094
quartier       53.878772
frühstück       47.62989
ou             52.863876
accueillant    52.165576
Name: bathroom, Length: 389, dtype: object
place          55.495003
apartment      56.203841
location       56.323624
amsterdam      53.439882
stay           56.783429
                 ...
amy            52.750131
quartier       57.812789
frühstück      52.392631
ou             56.874702
accueillant    56.122336
Name: sind, Length: 389, dtype: object
place           58.92283
apartment      59.632127
location       59.683987
amsterdam      56.861454
stay           60.222234
                 ...
amy            56.143372
quartier       61.272705
frühstück      55.805739
ou             60.281115
accueillant     59.61056
Name: jan, Length: 389, dtype: object
place          55.877644
apartment       56.61493
location       56.708525
amsterdam      53.825332
stay           57.167698
                 ...
amy            53.230067
quartier       58.209685
frühstück      52.811091
ou             57.267823
accueillant     56.54703
Name: plan, Length: 389, dtype: object
place          56.576848
apartment      57.345136
location       57.382686
amsterdam      54.544042
stay           57.913209
                 ...
amy            54.080075
quartier       59.014796
frühstück      53.644223
ou             58.043296
accueillant    57.287363
Name: accueillant, Length: 389, dtype: object
place          55.600476
apartment      56.313144
location       56.439166
amsterdam      53.549194
stay           56.886072
                 ...
amy             52.88222
quartier       57.930943
frühstück      52.465384
ou             56.991251
accueillant    56.265578
Name: holiday, Length: 389, dtype: object
place          55.831361
apartment      56.567822
location       56.661807
amsterdam      53.778381
stay           57.121817
                 ...
amy            53.187009
quartier       58.166048
frühstück      52.756337
ou             57.223385
accueillant    56.503121
Name: bread, Length: 389, dtype: object
place          54.267593
apartment      54.978324
location       55.038469
amsterdam      52.137413
stay           55.546272
                 ...
amy            51.526535
quartier       56.584572
frühstück      51.022861
ou             55.585123
accueillant     54.95644
Name: haben, Length: 389, dtype: object
place          60.019741
apartment      60.793737
location       60.840359
amsterdam       57.98923
stay           61.343241
                 ...
amy            57.486733
quartier       62.438149
frühstück      57.053289
ou             61.462074
accueillant    60.705996
Name: eltjo, Length: 389, dtype: object
place          56.532573
apartment      57.302236
location       57.345693
amsterdam      54.500537
stay           57.856266
                 ...
amy            53.990284
quartier        58.93488
frühstück      53.595277
ou             57.967491
accueillant    57.201828
Name: *, Length: 389, dtype: object
place          56.488633
apartment      57.257668
location       57.301877
amsterdam      54.455972
stay           57.812534
                 ...
amy            53.947141
quartier       58.890713
frühstück      53.526158
ou             57.923024
accueillant    57.157973
Name: climb, Length: 389, dtype: object
place          56.490988
apartment      57.260392
location       57.306048
amsterdam      54.457696
stay           57.814896
                 ...
amy            53.955494
quartier       58.895409
frühstück      53.498793
ou             57.926284
accueillant    57.162044
Name: om, Length: 389, dtype: object
place          61.071177
apartment      61.846994
location       61.891878
amsterdam      59.037591
stay           62.391166
                 ...
amy            58.523842
quartier        63.47716
frühstück      58.095405
ou             62.497313
accueillant    61.747348
Name: carolina, Length: 389, dtype: object
place          61.204768
apartment      61.974464
location       62.017871
amsterdam      59.172759
stay           62.528456
                 ...
amy            58.662449
quartier       63.607045
frühstück      58.267441
ou             62.639655
accueillant    61.873993
Name: leo, Length: 389, dtype: object
place          55.479375
apartment      56.191463
location       56.315407
amsterdam      53.425961
stay           56.765624
                 ...
amy            52.762496
quartier       57.801033
frühstück       52.35447
ou             56.860222
accueillant    56.095315
Name: chez, Length: 389, dtype: object

### 3.a6 Retrieve top-k context words, given a center word

What to implement: A function `topk(df, center_word, N=10)` that takes as input: (1) the DataFrame generated in step 5, (2) a `center_word` (a string like `‘towels’`), and (3) an optional named argument called `N` with default value of 10; and returns a list of `N` strings, in order of their PMI score with the `center_word`. You do not need to handle cases for which the word `center_word` is not found in `df`.

In [227]:
def topk(df, center_word, N=10):
  top_words = sorted([df[word][center_word] for word in cont_vocab], reverse=True)[:N]
  return top_words

In [228]:
topk(pmidf, 'coffee')

[63.4810461965441,
 63.249741460458985,
 62.656342134676464,
 62.502734531458294,
 62.364350607187795,
 62.179061170939555,
 62.1467580070075,
 62.01003845182203,
 61.96889371534266,
 61.87466107181496]

# 3.b Ethical, social and legal implications

Local authorities in touristic hotspots like Amsterdam, NYC or Barcelona regulate the price of recreational apartments for rent to, among others, ensure that fair rent prices are kept for year-long residents. Consider your price recommender for hosts in Question 2c. Imagine that Airbnb recommends a new host to put the price of your flat at a price which is above the official regulations established by the local government. Upon inspection, you realize that the inflated price you have been recommended comes from many apartments in the area only being offered during an annual event which brings many tourists, and which causes prices to rise. 

In this context, critically reflect on the compliance of this recommender system with **one of the five actions** outlined in the **UK’s Data Ethics Framework**. You should prioritize the action that, in your opinion, is the weakest. Then, justify your choice by critically analyzing the three **key principles** outlined in the Framework, namely _transparency_, _accountability_ and _fairness_. Finally, you should propose and critically justify a solution that would improve the recommender system in at least one of these principles. You are strongly encouraged to follow a scholarly approach, e.g., with peer-reviewed references as support. 

Your report should be between 500 and 750 words long.

### Your answer here. No Python, only Markdown.

Write your answer after the line.

---

...