# Part 3 - Text analysis and ethics

# 3.a Computing PMI

In this assessment you are tasked to discover strong associations between concepts in Airbnb reviews. The starter code we provide in this notebook is for orientation only. The below imports are enough to implement a valid answer.

### Imports, data loading and helper functions

We first connect our google drive, import pandas, numpy and some useful nltk and collections modules, then load the dataframe and define a function for printing the current time, useful to log our progress in some of the tasks.

In [1]:
import pandas as pd
from nltk.tag import pos_tag
import re
from collections import defaultdict,Counter
from nltk.stem import WordNetLemmatizer
from datetime import datetime
from tqdm import tqdm
import numpy as np
import os
tqdm.pandas()

In [2]:
# nltk imports, note that these outputs may be different if you are using colab or local jupyter notebooks
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Andreas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Andreas\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Andreas\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [3]:
# load stopwords
sw = set(stopwords.words('english'))

In [4]:
basedir = os.getcwd()
df = pd.read_csv(os.path.join(basedir,'reviews.csv'))
# deal with empty reviews
df.comments = df.comments.fillna('')

In [5]:
df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [6]:
df.shape

(452143, 6)

### 3.a1 - Process reviews

What to implement: A `function process_reviews(df)` that will take as input the original dataframe and will return it with three additional columns: `tokenized`, `tagged` and `lower_tagged`.

In [7]:
def process_reviews(df):
  tokenized = []
  tagged = []
  lower_tagged = []

  mylen = len(df)
  count = 0
  for index, row in df.iterrows():
    token = word_tokenize(row.comments)
    tokenized.append(token)
    tagged.append(pos_tag(token))
    lower_tagged.append(list(set(pos_tag([item.lower() for item in token]))))
    count += 1
    print(f'{count} out of {mylen}')
    if count % 1000 == 0:      
      break

  df['tokenized'] = tokenized
  df['tagged'] = tagged
  df['lower_tagged'] = lower_tagged


  # df['tokenized'] = [ word_tokenize(row.comments) for index, row in df.iterrows()]
  # print('Tokenizing done!\n')
  # df['tagged'] = [pos_tag(row.tokenized) for index, row in df.iterrows()]
  # print('Tagging done!\n')
  # df['lower_tagged'] = list(set([pos_tag([item.lower() for item in row.tokenized]) for index, row in df.iterrows()]))
  # print('Lower tagging done!\n')
  return df

In [8]:
df = process_reviews(df[:1000])

1 out of 1000
2 out of 1000
3 out of 1000
4 out of 1000
5 out of 1000
6 out of 1000
7 out of 1000
8 out of 1000
9 out of 1000
10 out of 1000
11 out of 1000
12 out of 1000
13 out of 1000
14 out of 1000
15 out of 1000
16 out of 1000
17 out of 1000
18 out of 1000
19 out of 1000
20 out of 1000
21 out of 1000
22 out of 1000
23 out of 1000
24 out of 1000
25 out of 1000
26 out of 1000
27 out of 1000
28 out of 1000
29 out of 1000
30 out of 1000
31 out of 1000
32 out of 1000
33 out of 1000
34 out of 1000
35 out of 1000
36 out of 1000
37 out of 1000
38 out of 1000
39 out of 1000
40 out of 1000
41 out of 1000
42 out of 1000
43 out of 1000
44 out of 1000
45 out of 1000
46 out of 1000
47 out of 1000
48 out of 1000
49 out of 1000
50 out of 1000
51 out of 1000
52 out of 1000
53 out of 1000
54 out of 1000
55 out of 1000
56 out of 1000
57 out of 1000
58 out of 1000
59 out of 1000
60 out of 1000
61 out of 1000
62 out of 1000
63 out of 1000
64 out of 1000
65 out of 1000
66 out of 1000
67 out of 1000
68 out of 1000
69 out of 1000
70 out of 1000
71 out of 1000
72 out of 1000
73 out of 1000
74 out of 1000
75 out of 1000
76 out of 1000
77 out of 1000
78 out of 1000
79 out of 1000
80 out of 1000
81 out of 1000
82 out of 1000
83 out of 1000
84 out of 1000
85 out of 1000
86 out of 1000
87 out of 1000
88 out of 1000
89 out of 1000
90 out of 1000
91 out of 1000
92 out of 1000
93 out of 1000
94 out of 1000
95 out of 1000
96 out of 1000
97 out of 1000
98 out of 1000
99 out of 1000
100 out of 1000
101 out of 1000
102 out of 1000
103 out of 1000
104 out of 1000
105 out of 1000
106 out of 1000
107 out of 1000
108 out of 1000
109 out of 1000
110 out of 1000
111 out of 1000
112 out of 1000
113 out of 1000
114 out of 1000
115 out of 1000
116 out of 1000
117 out of 1000
118 out of 1000
119 out of 1000
120 out of 1000
121 out of 1000
122 out of 1000
123 out of 1000
124 out of 1000
125 out of 1000
126 out of 1000
127 out of 1000
128 out of 1000
129 out of 1000
130 out of 1000
131 out of 1000
132 out of 1000
133 out of 1000
134 out of 1000
135 out of 1000
136 out of 1000
137 out of 1000
138 out of 1000
139 out of 1000
140 out of 1000
141 out of 1000
142 out of 1000
143 out of 1000
144 out of 1000
145 out of 1000
146 out of 1000
147 out of 1000
148 out of 1000
149 out of 1000
150 out of 1000
151 out of 1000
152 out of 1000
153 out of 1000
154 out of 1000
155 out of 1000
156 out of 1000
157 out of 1000
158 out of 1000
159 out of 1000
160 out of 1000
161 out of 1000
162 out of 1000
163 out of 1000
164 out of 1000
165 out of 1000
166 out of 1000
167 out of 1000
168 out of 1000
169 out of 1000
170 out of 1000
171 out of 1000
172 out of 1000
173 out of 1000
174 out of 1000
175 out of 1000
176 out of 1000
177 out of 1000
178 out of 1000
179 out of 1000
180 out of 1000
181 out of 1000
182 out of 1000
183 out of 1000
184 out of 1000
185 out of 1000
186 out of 1000
187 out of 1000
188 out of 1000
189 out of 1000
190 out of 1000
191 out of 1000
192 out of 1000
193 out of 1000
194 out of 1000
195 out of 1000
196 out of 1000
197 out of 1000
198 out of 1000
199 out of 1000
200 out of 1000
201 out of 1000
202 out of 1000
203 out of 1000
204 out of 1000
205 out of 1000
206 out of 1000
207 out of 1000
208 out of 1000
209 out of 1000
210 out of 1000
211 out of 1000
212 out of 1000
213 out of 1000
214 out of 1000
215 out of 1000
216 out of 1000
217 out of 1000
218 out of 1000
219 out of 1000
220 out of 1000
221 out of 1000
222 out of 1000
223 out of 1000
224 out of 1000
225 out of 1000
226 out of 1000
227 out of 1000
228 out of 1000
229 out of 1000
230 out of 1000
231 out of 1000
232 out of 1000
233 out of 1000
234 out of 1000
235 out of 1000
236 out of 1000
237 out of 1000
238 out of 1000
239 out of 1000
240 out of 1000
241 out of 1000
242 out of 1000
243 out of 1000
244 out of 1000
245 out of 1000
246 out of 1000
247 out of 1000
248 out of 1000
249 out of 1000
250 out of 1000
251 out of 1000
252 out of 1000
253 out of 1000
254 out of 1000
255 out of 1000
256 out of 1000
257 out of 1000
258 out of 1000
259 out of 1000
260 out of 1000
261 out of 1000
262 out of 1000
263 out of 1000
264 out of 1000
265 out of 1000
266 out of 1000
267 out of 1000
268 out of 1000
269 out of 1000
270 out of 1000
271 out of 1000
272 out of 1000
273 out of 1000
274 out of 1000
275 out of 1000
276 out of 1000
277 out of 1000
278 out of 1000
279 out of 1000
280 out of 1000
281 out of 1000
282 out of 1000
283 out of 1000
284 out of 1000
285 out of 1000
286 out of 1000
287 out of 1000
288 out of 1000
289 out of 1000
290 out of 1000
291 out of 1000
292 out of 1000
293 out of 1000
294 out of 1000
295 out of 1000
296 out of 1000
297 out of 1000
298 out of 1000
299 out of 1000
300 out of 1000
301 out of 1000
302 out of 1000
303 out of 1000
304 out of 1000
305 out of 1000
306 out of 1000
307 out of 1000
308 out of 1000
309 out of 1000
310 out of 1000
311 out of 1000
312 out of 1000
313 out of 1000
314 out of 1000
315 out of 1000
316 out of 1000
317 out of 1000
318 out of 1000
319 out of 1000
320 out of 1000
321 out of 1000
322 out of 1000
323 out of 1000
324 out of 1000
325 out of 1000
326 out of 1000
327 out of 1000
328 out of 1000
329 out of 1000
330 out of 1000
331 out of 1000
332 out of 1000
333 out of 1000
334 out of 1000
335 out of 1000
336 out of 1000
337 out of 1000
338 out of 1000
339 out of 1000
340 out of 1000
341 out of 1000
342 out of 1000
343 out of 1000
344 out of 1000
345 out of 1000
346 out of 1000
347 out of 1000
348 out of 1000
349 out of 1000
350 out of 1000
351 out of 1000
352 out of 1000
353 out of 1000
354 out of 1000
355 out of 1000
356 out of 1000
357 out of 1000
358 out of 1000
359 out of 1000
360 out of 1000
361 out of 1000
362 out of 1000
363 out of 1000
364 out of 1000
365 out of 1000
366 out of 1000
367 out of 1000
368 out of 1000
369 out of 1000
370 out of 1000
371 out of 1000
372 out of 1000
373 out of 1000
374 out of 1000
375 out of 1000
376 out of 1000
377 out of 1000
378 out of 1000
379 out of 1000
380 out of 1000
381 out of 1000
382 out of 1000
383 out of 1000
384 out of 1000
385 out of 1000
386 out of 1000
387 out of 1000
388 out of 1000
389 out of 1000
390 out of 1000
391 out of 1000
392 out of 1000
393 out of 1000
394 out of 1000
395 out of 1000
396 out of 1000
397 out of 1000
398 out of 1000
399 out of 1000
400 out of 1000
401 out of 1000
402 out of 1000
403 out of 1000
404 out of 1000
405 out of 1000
406 out of 1000
407 out of 1000
408 out of 1000
409 out of 1000
410 out of 1000
411 out of 1000
412 out of 1000
413 out of 1000
414 out of 1000
415 out of 1000
416 out of 1000
417 out of 1000
418 out of 1000
419 out of 1000
420 out of 1000
421 out of 1000
422 out of 1000
423 out of 1000
424 out of 1000
425 out of 1000
426 out of 1000
427 out of 1000
428 out of 1000
429 out of 1000
430 out of 1000
431 out of 1000
432 out of 1000
433 out of 1000
434 out of 1000
435 out of 1000
436 out of 1000
437 out of 1000
438 out of 1000
439 out of 1000
440 out of 1000
441 out of 1000
442 out of 1000
443 out of 1000
444 out of 1000
445 out of 1000
446 out of 1000
447 out of 1000
448 out of 1000
449 out of 1000
450 out of 1000
451 out of 1000
452 out of 1000
453 out of 1000
454 out of 1000
455 out of 1000
456 out of 1000
457 out of 1000
458 out of 1000
459 out of 1000
460 out of 1000
461 out of 1000
462 out of 1000
463 out of 1000
464 out of 1000
465 out of 1000
466 out of 1000
467 out of 1000
468 out of 1000
469 out of 1000
470 out of 1000
471 out of 1000
472 out of 1000
473 out of 1000
474 out of 1000
475 out of 1000
476 out of 1000
477 out of 1000
478 out of 1000
479 out of 1000
480 out of 1000
481 out of 1000
482 out of 1000
483 out of 1000
484 out of 1000
485 out of 1000
486 out of 1000
487 out of 1000
488 out of 1000
489 out of 1000
490 out of 1000
491 out of 1000
492 out of 1000
493 out of 1000
494 out of 1000
495 out of 1000
496 out of 1000
497 out of 1000
498 out of 1000
499 out of 1000
500 out of 1000
501 out of 1000
502 out of 1000
503 out of 1000
504 out of 1000
505 out of 1000
506 out of 1000
507 out of 1000
508 out of 1000
509 out of 1000
510 out of 1000
511 out of 1000
512 out of 1000
513 out of 1000
514 out of 1000
515 out of 1000
516 out of 1000
517 out of 1000
518 out of 1000
519 out of 1000
520 out of 1000
521 out of 1000
522 out of 1000
523 out of 1000
524 out of 1000
525 out of 1000
526 out of 1000
527 out of 1000
528 out of 1000
529 out of 1000
530 out of 1000
531 out of 1000
532 out of 1000
533 out of 1000
534 out of 1000
535 out of 1000
536 out of 1000
537 out of 1000
538 out of 1000
539 out of 1000
540 out of 1000
541 out of 1000
542 out of 1000
543 out of 1000
544 out of 1000
545 out of 1000
546 out of 1000
547 out of 1000
548 out of 1000
549 out of 1000
550 out of 1000
551 out of 1000
552 out of 1000
553 out of 1000
554 out of 1000
555 out of 1000
556 out of 1000
557 out of 1000
558 out of 1000
559 out of 1000
560 out of 1000
561 out of 1000
562 out of 1000
563 out of 1000
564 out of 1000
565 out of 1000
566 out of 1000
567 out of 1000
568 out of 1000
569 out of 1000
570 out of 1000
571 out of 1000
572 out of 1000
573 out of 1000
574 out of 1000
575 out of 1000
576 out of 1000
577 out of 1000
578 out of 1000
579 out of 1000
580 out of 1000
581 out of 1000
582 out of 1000
583 out of 1000
584 out of 1000
585 out of 1000
586 out of 1000
587 out of 1000
588 out of 1000
589 out of 1000
590 out of 1000
591 out of 1000
592 out of 1000
593 out of 1000
594 out of 1000
595 out of 1000
596 out of 1000
597 out of 1000
598 out of 1000
599 out of 1000
600 out of 1000
601 out of 1000
602 out of 1000
603 out of 1000
604 out of 1000
605 out of 1000
606 out of 1000
607 out of 1000
608 out of 1000
609 out of 1000
610 out of 1000
611 out of 1000
612 out of 1000
613 out of 1000
614 out of 1000
615 out of 1000
616 out of 1000
617 out of 1000
618 out of 1000
619 out of 1000
620 out of 1000
621 out of 1000
622 out of 1000
623 out of 1000
624 out of 1000
625 out of 1000
626 out of 1000
627 out of 1000
628 out of 1000
629 out of 1000
630 out of 1000
631 out of 1000
632 out of 1000
633 out of 1000
634 out of 1000
635 out of 1000
636 out of 1000
637 out of 1000
638 out of 1000
639 out of 1000
640 out of 1000
641 out of 1000
642 out of 1000
643 out of 1000
644 out of 1000
645 out of 1000
646 out of 1000
647 out of 1000
648 out of 1000
649 out of 1000
650 out of 1000
651 out of 1000
652 out of 1000
653 out of 1000
654 out of 1000
655 out of 1000
656 out of 1000
657 out of 1000
658 out of 1000
659 out of 1000
660 out of 1000
661 out of 1000
662 out of 1000
663 out of 1000
664 out of 1000
665 out of 1000
666 out of 1000
667 out of 1000
668 out of 1000
669 out of 1000
670 out of 1000
671 out of 1000
672 out of 1000
673 out of 1000
674 out of 1000
675 out of 1000
676 out of 1000
677 out of 1000
678 out of 1000
679 out of 1000
680 out of 1000
681 out of 1000
682 out of 1000
683 out of 1000
684 out of 1000
685 out of 1000
686 out of 1000
687 out of 1000
688 out of 1000
689 out of 1000
690 out of 1000
691 out of 1000
692 out of 1000
693 out of 1000
694 out of 1000
695 out of 1000
696 out of 1000
697 out of 1000
698 out of 1000
699 out of 1000
700 out of 1000
701 out of 1000
702 out of 1000
703 out of 1000
704 out of 1000
705 out of 1000
706 out of 1000
707 out of 1000
708 out of 1000
709 out of 1000
710 out of 1000
711 out of 1000
712 out of 1000
713 out of 1000
714 out of 1000
715 out of 1000
716 out of 1000
717 out of 1000
718 out of 1000
719 out of 1000
720 out of 1000
721 out of 1000
722 out of 1000
723 out of 1000
724 out of 1000
725 out of 1000
726 out of 1000
727 out of 1000
728 out of 1000
729 out of 1000
730 out of 1000
731 out of 1000
732 out of 1000
733 out of 1000
734 out of 1000
735 out of 1000
736 out of 1000
737 out of 1000
738 out of 1000
739 out of 1000
740 out of 1000
741 out of 1000
742 out of 1000
743 out of 1000
744 out of 1000
745 out of 1000
746 out of 1000
747 out of 1000
748 out of 1000
749 out of 1000
750 out of 1000
751 out of 1000
752 out of 1000
753 out of 1000
754 out of 1000
755 out of 1000
756 out of 1000
757 out of 1000
758 out of 1000
759 out of 1000
760 out of 1000
761 out of 1000
762 out of 1000
763 out of 1000
764 out of 1000
765 out of 1000
766 out of 1000
767 out of 1000
768 out of 1000
769 out of 1000
770 out of 1000
771 out of 1000
772 out of 1000
773 out of 1000
774 out of 1000
775 out of 1000
776 out of 1000
777 out of 1000
778 out of 1000
779 out of 1000
780 out of 1000
781 out of 1000
782 out of 1000
783 out of 1000
784 out of 1000
785 out of 1000
786 out of 1000
787 out of 1000
788 out of 1000
789 out of 1000
790 out of 1000
791 out of 1000
792 out of 1000
793 out of 1000
794 out of 1000
795 out of 1000
796 out of 1000
797 out of 1000
798 out of 1000
799 out of 1000
800 out of 1000
801 out of 1000
802 out of 1000
803 out of 1000
804 out of 1000
805 out of 1000
806 out of 1000
807 out of 1000
808 out of 1000
809 out of 1000
810 out of 1000
811 out of 1000
812 out of 1000
813 out of 1000
814 out of 1000
815 out of 1000
816 out of 1000
817 out of 1000
818 out of 1000
819 out of 1000
820 out of 1000
821 out of 1000
822 out of 1000
823 out of 1000
824 out of 1000
825 out of 1000
826 out of 1000
827 out of 1000
828 out of 1000
829 out of 1000
830 out of 1000
831 out of 1000
832 out of 1000
833 out of 1000
834 out of 1000
835 out of 1000
836 out of 1000
837 out of 1000
838 out of 1000
839 out of 1000
840 out of 1000
841 out of 1000
842 out of 1000
843 out of 1000
844 out of 1000
845 out of 1000
846 out of 1000
847 out of 1000
848 out of 1000
849 out of 1000
850 out of 1000
851 out of 1000
852 out of 1000
853 out of 1000
854 out of 1000
855 out of 1000
856 out of 1000
857 out of 1000
858 out of 1000
859 out of 1000
860 out of 1000
861 out of 1000
862 out of 1000
863 out of 1000
864 out of 1000
865 out of 1000
866 out of 1000
867 out of 1000
868 out of 1000
869 out of 1000
870 out of 1000
871 out of 1000
872 out of 1000
873 out of 1000
874 out of 1000
875 out of 1000
876 out of 1000
877 out of 1000
878 out of 1000
879 out of 1000
880 out of 1000
881 out of 1000
882 out of 1000
883 out of 1000
884 out of 1000
885 out of 1000
886 out of 1000
887 out of 1000
888 out of 1000
889 out of 1000
890 out of 1000
891 out of 1000
892 out of 1000
893 out of 1000
894 out of 1000
895 out of 1000
896 out of 1000
897 out of 1000
898 out of 1000
899 out of 1000
900 out of 1000
901 out of 1000
902 out of 1000
903 out of 1000
904 out of 1000
905 out of 1000
906 out of 1000
907 out of 1000
908 out of 1000
909 out of 1000
910 out of 1000
911 out of 1000
912 out of 1000
913 out of 1000
914 out of 1000
915 out of 1000
916 out of 1000
917 out of 1000
918 out of 1000
919 out of 1000
920 out of 1000
921 out of 1000
922 out of 1000
923 out of 1000
924 out of 1000
925 out of 1000
926 out of 1000
927 out of 1000
928 out of 1000
929 out of 1000
930 out of 1000
931 out of 1000
932 out of 1000
933 out of 1000
934 out of 1000
935 out of 1000
936 out of 1000
937 out of 1000
938 out of 1000
939 out of 1000
940 out of 1000
941 out of 1000
942 out of 1000
943 out of 1000
944 out of 1000
945 out of 1000
946 out of 1000
947 out of 1000
948 out of 1000
949 out of 1000
950 out of 1000
951 out of 1000
952 out of 1000
953 out of 1000
954 out of 1000
955 out of 1000
956 out of 1000
957 out of 1000
958 out of 1000
959 out of 1000
960 out of 1000
961 out of 1000
962 out of 1000
963 out of 1000
964 out of 1000
965 out of 1000
966 out of 1000
967 out of 1000
968 out of 1000
969 out of 1000
970 out of 1000
971 out of 1000
972 out of 1000
973 out of 1000
974 out of 1000
975 out of 1000
976 out of 1000
977 out of 1000
978 out of 1000
979 out of 1000
980 out of 1000
981 out of 1000
982 out of 1000
983 out of 1000
984 out of 1000
985 out of 1000
986 out of 1000
987 out of 1000
988 out of 1000
989 out of 1000
990 out of 1000
991 out of 1000
992 out of 1000
993 out of 1000
994 out of 1000
995 out of 1000
996 out of 1000
997 out of 1000
998 out of 1000
999 out of 1000
1000 out of 1000
<ipython-input-7-295fb99d2539>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tokenized'] = tokenized
<ipython-input-7-295fb99d2539>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tagged'] = tagged
<ipython-input-7-295fb99d2539>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lower_tagged'] = lower_tagged

In [9]:
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,tokenized,tagged,lower_tagged
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...,"[Daniel, is, really, cool, ., The, place, was,...","[(Daniel, NNP), (is, VBZ), (really, RB), (cool...","[(in, IN), (didnt, VBP), (any, DT), (clean, JJ..."
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...,"[Daniel, is, the, most, amazing, host, !, His,...","[(Daniel, NNP), (is, VBZ), (the, DT), (most, R...","[(please, VBP), (way, NN), (bed, NN), (if, IN)..."
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...,"[We, had, such, a, great, time, in, Amsterdam,...","[(We, PRP), (had, VBD), (such, JJ), (a, DT), (...","[(bathroom, NN), (10-15, JJ), (in, IN), (we, P..."
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...,"[Very, professional, operation, ., Room, is, v...","[(Very, RB), (professional, JJ), (operation, N...","[(which, WDT), (clean, JJ), (comfortable, JJ),..."
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...,"[Daniel, is, highly, recommended, ., He, provi...","[(Daniel, NNP), (is, VBZ), (highly, RB), (reco...","[(way, NN), (in, IN), (which, WDT), (recommend..."
...,...,...,...,...,...,...,...,...,...
995,28871,257474270,2018-04-26,19146357,PPep,"Highly recommend , Nice place , Near everythin...","[Highly, recommend, ,, Nice, place, ,, Near, e...","[(Highly, NNP), (recommend, NN), (,, ,), (Nice...","[(near, IN), (time, NN), (,, ,), (see, VBP), (..."
996,28871,258531725,2018-04-29,46895354,James,Edwin's place was fantastic for my wife's and ...,"[Edwin, 's, place, was, fantastic, for, my, wi...","[(Edwin, NNP), ('s, POS), (place, NN), (was, V...","[(bathroom, NN), (thank, NN), (in, IN), (being..."
997,28871,259622953,2018-05-01,25353493,Brian,Our stay at Edwin’s was incredible. He is such...,"[Our, stay, at, Edwin, ’, s, was, incredible, ...","[(Our, PRP$), (stay, NN), (at, IN), (Edwin, NN...","[(everywhere, RB), (s, NN), (accommodating, VB..."
998,28871,261853402,2018-05-07,181166673,Manuel Alejandro,"Edwin is such a kind host, he is aware of you ...","[Edwin, is, such, a, kind, host, ,, he, is, aw...","[(Edwin, NNP), (is, VBZ), (such, JJ), (a, DT),...","[(in, IN), (comfortable, JJ), (of, IN), (a, DT..."
999,28871,262860515,2018-05-10,153766264,Dallas,Edwin is a great host. He made sure we were co...,"[Edwin, is, a, great, host, ., He, made, sure,...","[(Edwin, NNP), (is, VBZ), (a, DT), (great, JJ)...","[(in, IN), (we, PRP), (distance, NN), (walkabl..."

In [24]:
# num = 0
# print(len(df.tagged[num]), len(set(df.lower_tagged[num])))
# list(set(df.lower_tagged[num]))

In [12]:
df.lower_tagged[0][1][1][0]

'V'

### 3.a2 - Create a vocabulary

What to implement: A function `get_vocab(df)` which takes as input the DataFrame generated in step 1.c, and returns two lists, one for the 1,000 most frequent center words (nouns) and one for the 1,000 most frequent context words (either verbs or adjectives).

In [31]:
def get_vocab(df):
  cent_list, cont_list = [], []

  for review in df.lower_tagged:
    cent_list.extend([word for word in [list_of_words[0] for list_of_words in review if list_of_words[1][0] == 'N']])
    cont_list.extend([word for word in [list_of_words[0] for list_of_words in review if (list_of_words[1][0] == 'J') or (list_of_words[1][0] == 'V')]])
    
  cent_dict = Counter(cent_list)
  cont_dict = Counter(cont_list)

  cent_vocab = [key for key, value in sorted(cent_dict.items(), key=lambda item: item[1])][:1000]
  cont_vocab = [key for key, value in sorted(cont_dict.items(), key=lambda item: item[1])][:1000]

  return cent_vocab, cont_vocab

In [32]:
cent_vocab, cont_vocab = get_vocab(df)

In [48]:
cent_vocab[0]

'planet'

### 3.a3 Count co-occurrences between center and context words

What to implement: A function `get_coocs(df, center_vocab, context_vocab)` which takes as input the DataFrame generated in step 1, and the lists generated in step 2 and returns a dictionary of dictionaries, of the form in the example above. It is up to you how you define context (full review? per sentence? a sliding window of fixed size?), and how to deal with exceptional cases (center words occurring more than once, center and context words being part of your vocabulary because they are frequent both as a noun and as a verb, etc). Use comments in your code to justify your approach.

In [33]:
comments = df.comments
type(comments)

pandas.core.series.Series

In [34]:
comments[:5]

0    Daniel is really cool. The place was nice and ...
1    Daniel is the most amazing host! His place is ...
2    We had such a great time in Amsterdam. Daniel ...
3    Very professional operation. Room is very clea...
4    Daniel is highly recommended.  He provided all...
Name: comments, dtype: object

In [58]:
def get_coocs(df, cent_vocab, cont_vocab):
  sentences = []
  comments = df.comments

  for comment in comments:
    sentences.extend([sentence for sentence in comment.split('.')])
  
  # print(sentences)
  
  coocs = {}

  for center_word in cent_vocab:
    words = []
    for sentence in sentences:
      if center_word in sentence:
        words_in_sentence = word_tokenize(sentence)
        words.extend([word for word in words_in_sentence if word in cont_vocab])
    
    center_word_dict = dict(Counter(words))
    coocs[center_word] = center_word_dict
    
  # cent_dict = Counter(cent_list)
  # cont_dict = Counter(cont_list)
  
  return coocs

In [61]:
coocs = get_coocs(df, cent_vocab, cont_vocab)

In [66]:
coocs['planet']['lonely']

1

### 3.a4 Convert co-occurrence dictionary to 1000x1000 dataframe
What to implement: A function called `cooc_dict2df(cooc_dict)`, which takes as input the dictionary of dictionaries generated in step 3 and returns a DataFrame where each row corresponds to one center word, and each column corresponds to one context word, and cells are their corresponding co-occurrence value. Some (x,y) pairs will never co-occur, you should have a 0 value for those cases.

In [77]:
def cooc_dict2df(coocs):
  coocdf = pd.DataFrame(columns=cont_vocab, index = cent_vocab)

  for index, row in coocdf.iterrows():
    for word in cont_vocab:
      try:
        coocdf[word][index] = coocs[index][word]
      except: 
        coocdf[word][index] = 0

  return coocdf

In [78]:
coocdf = cooc_dict2df(coocs)
coocdf.shape

(1000, 1000)

### 3.a5 Raw co-occurrences to PMI scores

What to implement: A function `cooc2pmi(df)` that takes as input the DataFrame generated in step 4, and returns a new DataFrame with the same rows and columns, but with PMI scores instead of raw co-occurrence counts.

In [ ]:
def cooc2pmi(df):
  # your code here
  return pmidf

In [ ]:
pmidf = cooc2pmi(coocdf)
pmidf.shape

### 3.a6 Retrieve top-k context words, given a center word

What to implement: A function `topk(df, center_word, N=10)` that takes as input: (1) the DataFrame generated in step 5, (2) a `center_word` (a string like `‘towels’`), and (3) an optional named argument called `N` with default value of 10; and returns a list of `N` strings, in order of their PMI score with the `center_word`. You do not need to handle cases for which the word `center_word` is not found in `df`.

In [ ]:
def topk(df, center_word, N=10):
  # your code here
  return top_words

In [ ]:
topk(pmidf, 'coffee')

# 3.b Ethical, social and legal implications

Local authorities in touristic hotspots like Amsterdam, NYC or Barcelona regulate the price of recreational apartments for rent to, among others, ensure that fair rent prices are kept for year-long residents. Consider your price recommender for hosts in Question 2c. Imagine that Airbnb recommends a new host to put the price of your flat at a price which is above the official regulations established by the local government. Upon inspection, you realize that the inflated price you have been recommended comes from many apartments in the area only being offered during an annual event which brings many tourists, and which causes prices to rise. 

In this context, critically reflect on the compliance of this recommender system with **one of the five actions** outlined in the **UK’s Data Ethics Framework**. You should prioritize the action that, in your opinion, is the weakest. Then, justify your choice by critically analyzing the three **key principles** outlined in the Framework, namely _transparency_, _accountability_ and _fairness_. Finally, you should propose and critically justify a solution that would improve the recommender system in at least one of these principles. You are strongly encouraged to follow a scholarly approach, e.g., with peer-reviewed references as support. 

Your report should be between 500 and 750 words long.

### Your answer here. No Python, only Markdown.

Write your answer after the line.

---

...